/*===============================================
    [SASS DIRECTORY ]

#sosearchpro .dropdown-menu .media-body .box-price span{
    float: $left;
}

    
==============================================*/


.content-aside{
    margin-bottom: 30px;
}


.banner-sidebar a img{
    width: 100%;
}

#sosearchpro.so-search{
    width: 100%;
    padding: 0;
}

.sohomepage-slider .form-group{
    margin-bottom: 0;
}

.content-aside .module.banner-left{
        border: none; border-radius: 0;
    }

#content div.so-deal .extraslider-inner .item{
    border: none;
}
/*============MODULE DEFAULT ==================*/
.module.sohomepage-slider .so-homeslider{
    direction: ltr;
}

.module .so-extraslider .extraslider-inner{
    border: none;
    padding-bottom: 0;
}
#content .sohomepage-slider .sohomeslider-description h2{
    margin: 0;
}
#content .module {
    h2{
        font-size: 18px;
        color: #222;
        font-weight: 600;
        text-transform: capitalize;
        margin-top: 30px;
    }
    h3.modtitle{
        font-size: 18px;
            color: #222;
            font-weight: 600;
            text-transform: capitalize;
        span{
            font-size: 18px;
            color: #000;
            font-weight: 600;
            text-transform: capitalize;
        }
    } 
}
.content-aside{
    .module {
        
        margin-bottom: 30px;
        
        h3.modtitle{
            position: relative;
            font-size: 18px;
            color: #222;
            font-weight: 600;
            text-transform: capitalize;
            margin: 0;
            padding-bottom: 10px; 
            margin-bottom: 15px;
            &:before{
                content: ""; position: absolute;
                bottom: 0; #{$left}: 0;
                background-color: #222;
                width: 60px; height: 2px;
            }
            span{
                font-size: 18px;
                color: #222;
                font-weight: 600;
                text-transform: capitalize;
            }
        } 
        .modcontent{
            
        }
        &#blog-search{
            border: none;
        }
    }
}





/************************************************************************************************
    EXTRASLIDER BESTSELER
*************************************************************************************************/
//Fixed second_img Product grid Columns (1,2) 
.product-item-container{
    .second_img{
        @extend .lib-two-img;
    } 
    &:hover{
        .second_img{
            @extend .lib-two-img-over;
        }
    }
}

.best-seller{position: relative; margin: 0;
    .so-extraslider{margin:0;}
    .so-extraslider .extraslider-inner {border: 1px solid #eee; padding-bottom: 0;
        .item-wrap-inner{margin: 18px 0 8px;
            @media (min-width: 1200px) {
                padding-#{$left}: 10px;;
            }
        }
        .item .item-wrap.style1 {border-bottom: 1px solid #eee; margin-bottom:2px;
            &:last-child{border-bottom: 0; margin-bottom: 0;}
            .media-left{float: $left; width: 85px;
                .item-image{border: 0;
                    .lt-image{
                            @extend .lib-two-img;
                    }
                    &:hover{box-shadow: none; opacity: 0.8;}
                }
            }
            .media-body{
                .item-info{background: transparent; position: static; color: #666;
                    a{color: #444;}
                    .item-title{padding: 0 0 5px 0;
                        a{text-transform: capitalize; font-size: 15px; font-weight: normal;
                            &:hover{color: $linkColor;}
                        }  
                    } 
                    .item-content{margin-left: 0;
                        .content_price span{color: #e74c3c;font-size: 16px;font-weight: bold;
                            &.price-old{font-size: 12px; color: #999;}
                        }
                    }
                    .rating{padding: 0;}
                }
            }
            &:hover{
                .media-left .item-image .lt-image{
                    @extend .lib-two-img-over;
                }
                .item-title a{
                    color: $linkColor;
                } 
            }
        }
    }
    .so-extraslider .extraslider-inner .item-wrap .item-info .item-content .content_price{ margin-bottom: 0; }
    .so-extraslider .owl2-controls{ margin-bottom: 8px;text-align: right;position: absolute; top: 4px; vertical-align: middle; #{$right}: 5px;
        .owl2-nav > div{width: 17px; height: 30px;text-align: center;display: inline-block; line-height: 30px; 
            font-size: 0;cursor: pointer;color: #999999; background-color: transparent;margin-top: 0;position: static; float: left;
            @include if-rtl {
                &.owl2-next{ right: 0; }
                &.owl2-prev{ left: 0; }
            }
            &:hover{color: $linkColor;}
        }
        .owl2-prev:before{ content: "\f104"; font-family: FontAwesome; font-size: 28px;}
        .owl2-next:before{content: "\f105";font-family: FontAwesome;font-size: 28px;}
    }      
}



/*============MODULE NEWLETTER POPUP ==================*/
.newsletter{
    #signup{
        .show-error{
            float: $left;      
            padding-top: 7px;
            color: #f55 !important;
        }
    }
}

.main-newsleter-popup{
    .so-custom-popup{background-color: #fff; border-radius: 0px; padding: 0; background-repeat: no-repeat !important;        
        .popup-close{
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 0;
            color: #222;
            background-color: rgba(255,255,255,0.8); 
            opacity: 1;
            border: none;
            right: -15px;
            top: -15px;
            z-index: 999;
            &:hover{
              background-color: $background;
            }
        }
        .head-popup{
            background: url("#{$imgPath}bg-popup.jpg") center center no-repeat;
            height: 150px; position: relative; 
            &:after{
                background: #000;
                opacity: 0.3;
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%; height: 100%;
            }
            h3{
                font-size: 20px; font-weight: 600; text-transform: uppercase;
                line-height: 150px; color: #fff !important; text-align: center;
                position: absolute; z-index: 2; width: 100%;
            }
        }
    }
    .modcontent{position: relative;}
    .so-custom-popup{
        .pre_text{            
            text-align: center;
            font-size: 12px; padding: 12px;
            background-color: #f4f4f4;
        }
        .hidden-popup{ padding: 10px 10px 0 10px;
            .inline{ font-size: 11px; color: #333; font-weight: 400; }
            &:hover{cursor: pointer;}
        }
        .oca_popup .popup-content{padding: 20px 30px;
            text-align: center; 
           
            .popup-title{font-weight: 600;font-size: 18px;color: #222;
                letter-spacing: .5px; margin-bottom: 0;
            }
            .newsletter_promo {font-size: 14px;color: #878787;font-weight: 400; 
                
            }
            .email{margin: 10px 0 20px 0;}
            .form-group .input-control{  
                position: relative;
                .input-box{
                  background-color: #fff;  
                  vertical-align: top;
                  padding-#{$right}: 120px;          
                }  
                .form-control{
                  height: 40px;
                  line-height: 40px;
                  width: 100%;
                  box-shadow: none;
                  padding: side-values(0 0 0 20px);
                  border: none;           
                  background-color: #fff;   
                  border: 1px solid #ddd; border-radius: 0;
                  &::-moz-placeholder {
                  color: #999;
                    opacity: 1; 
                }
                &:-ms-input-placeholder { color: #999; } 
                &::-webkit-input-placeholder  { color: #999; } 
                  &:focus{
                      z-index: 0;
                  }
                }
              }

              .btn-default{           
                border: 0 none;
                color: $linkColor;
                font-size: 20px;
                height: 40px;
                line-height: 40px;
                padding: 0 15px;    
                background-color: $background;
                font-size: 14px; font-weight: 600; color: #fff;
                width: 100%; text-transform: capitalize;
                &:hover{
                  background-color: #222;                  
                }
            }
            
         
            .newsletter_promo{ padding: 10px 0; margin: 0;}


        }
        .form-group{ margin: 0; }
        .socials-w{
            text-align: center;
            position: relative;
            padding-top: 50px; padding-bottom: 25px;
            &:before{
                width: 100%; height: 100%;
                background-color: $background;
                opacity: 0.9;
                position: absolute; top: 0; left: 0; content: "";
            }
            h3{ font-size: 16px; color: #fff; font-weight: 400; text-transform: uppercase; 
                position: absolute; width: 100%; top: 20px;
            }
        }
        .socials{
            margin-top: 0;
            display: inline-block; width: 100%;
            li{
              position: relative;
              display: inline-block; float: none;
              a{
                width: 34px;
                height: 34px;
                line-height: 32px; border-radius: 100%;
                text-align: center;                        
                display: inline-block;
                margin: 0 5px;
                color: #222;
                font-size: 18px;   
                @include transition(all 0.2s ease-in-out 0s);  background-color: #fff;
                &:hover{
                  color: $background;
                }
                  i{

                  }
              }
              
            }
        }
    } 

}
.main-newsleter-popup .show-error {
    display: inline-block;
    margin-left: 0 !important;
    width: 100%;
}
/*============ MODULE LOGIN POPUP ==================*/
body #so_sociallogin{
    .block-popup-login{
        .tt_popup_login{
            border: none;
            background-color: $background;
            height: 42px;
            strong{
                font-size: 16px;
                font-weight: 700;
                background-color: $background;
                line-height: 42px;
                position: static;
                background-position: 20px center;
                padding-left: 70px;
                &:before{
                    display: none;
                }
            }
                
        } 
        .close-login{
            background-image: none;
            text-indent: 0;
            font-size: 24px;
            color: #fff;
            top: 7px;
            right: 5px;
            border-radius: 100%;
        }
        .block-content{
            .login-customer{
                h2{
                    font-size: 16px;
                    font-weight: 700;
                }
                
            }
            .input-text{
                border-radius: 0;
            }
            .btn-reg-popup{
                font-size: 14px;
                padding: 0 20px;
                background-color: #666;
                border-radius: 4px;
                &:hover{
                    background-color: $background;
                }
            }
            .action.login{
                background-image: none;
                padding: 0 20px;
                background-color: #666;
                border-radius: 4px;
                &:hover{
                    background-color: $background;
                }
            }
        }
    } 
}

/*============ BREADCRUMB ==================*/
.breadcrumbs{
    .container{
        //width: 100%;
       // padding: 0;
    }
    .current-name{
        text-align: center;
        background: url("#{$imgPath}shop-category.jpg") center center;
        background-size: cover;
        font-size: 24px; color: #fff;
        padding: 112px 0;
    }
    ul.breadcrumb{    
        background-color: #f6f6f8;
    }
}  

ul.breadcrumb{
    background-color: transparent;
    padding: 15px 0 !important;
    margin-bottom: 40px;
    display: inline-block;
    width: 100%;
    line-height: 100%;
    
    li {
        display: inline-block;
        padding: side-values(0 17px 0 0px);
        margin-#{$right}: 7px;
        position: relative;

        &:before{
            display: none;
        }
        @include if-ltr {
            &:not(:last-child):after{
              font-family: 'FontAwesome';
              content: '\f105';
              font-size: 13px;
              top: 0px;
              right: 0;
              position: absolute;
              
            }
        }
        @include if-rtl {
            &:not(:last-child):after{
              font-family: 'FontAwesome';
              content: '\f104';
              font-size: 14px;
              top: 0px;
              left: 0;    
              position: absolute; 
            }
        }

        a {
            display: block;
            padding: 0;
            color: #878787;
            text-decoration: none !important;
            font-size: 13px; text-transform: capitalize;
        }

        &:last-child {
            padding: 5px 0px;
            a{
                color: $linkColor;
            }               
        }
        &:hover a{
            color: $linkColor;
        }
    }
}


/*=========== BLOCK SIDEBAR ==================*/


.content-aside .product-simple{
    position: relative;
    .modcontent{
        padding: 0;
    }
    .so-quickview{
        display: none;
    }
    .so-extraslider{
        margin: 0;
   
        .owl2-controls{
            .owl2-dots{
                @include owl2-dot-style(8px,8px,#222);
                #{$right}: 0px;
                top: 0px;
                min-width: 60px;
            }
            .owl2-nav{
                top: 1px; position: absolute;
                #{$right}: 0px !important;
                @include owl2-nav-style(30px,18px,#222);
                > div{
                    margin-top: 0;
                    line-height: 28px !important;
                    &:before{
                        position: static;
                        font-weight: 400;
                    }
                }
                
            }
        }
        &:hover{
            .owl2-controls{
                .owl2-nav > div{     
                    /*@include transform(scale(1));          
                    @include effect-block-show();*/
                }
            }
        }
        .extraslider-inner{ padding: 0; margin-bottom: 10px;
            .item { width: 100%;
                .item-inner{
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 20px;
                    &:last-child{
                        border-bottom: none;
                        margin-bottom: 0;
                    }
                    .item-image{
                        width: 80px;
                        float: $left;       
                        a{
                            
                        } 
                        &:hover img{ opacity: 0.8; }               
                           
                    }
                    .item-info{
                        margin-top: 0px;
                        margin-#{$left}: 95px;
                        background: transparent;
                        color: #666;
                        .item-title{
                            line-height: 100%;
                            margin-bottom: 7px;
                            padding: 0;
                            a{
                                font-size: 13px;
                                font-weight: 400;
                                text-transform: capitalize;
                                color: #333;
                                &:hover{
                                    color: $linkColor;
                                }
                            }
                        }
                        .rating{
                            margin-bottom: 3px;
                        }
                
                    }
                    &:last-child{
                        margin-bottom: 0;
                       
                    }
                    &:hover{
                        .item-image{                                  
                            
                        }
                    }
                }
            }
        }
    }
}

/*============ MODULE MEGAMENU HORIZONTAL  ==================*/


.container-megamenu ul.megamenu li{
    .sub-menu{
        z-index: 998;
        .content{
            box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
            padding: 30px;
            background-color: rgba(255,255,255,0.95);
        }
    }
    &.menu-layouts{
        .sub-menu .content{
            padding: side-values(30px 30px 10px 30px);
        }
    }
} 
@media (min-width: 992px){
.container-megamenu.vertical .icon-close,
.navbar-default .container-megamenu.horizontal .megamenu-wrapper .icon-close{
    display: none;
}
}
.container-megamenu.vertical .icon-close,
.navbar-default .container-megamenu.horizontal .megamenu-wrapper .icon-close{
    text-align: $right; width: 100%;
    font-size: 26px;
    &:hover{ cursor: pointer; color: $linkColor; }
}
/*---mega menu horizontal level 1--*/
.container-megamenu.horizontal{
    ul.megamenu{
        > li{
            float: $left;
            margin-#{$right}: 25px;
            > a{
                font-size: 14px;
                text-transform: capitalize;
                font-weight: 400;
                color: #222;
                display: block;
                position: relative;
                padding: 26px 0;
                line-height: 100%;
                height: auto;
                strong{
                    font-weight: 400;
                }
            }
            
            &.with-sub-menu.hover{
                > a{
                    
                  }
                &:hover{ }
            }

        }
    }  
    ul.megamenu > li.with-sub-menu > a {
        position: relative;
        .caret{
            border: none;   display: none;        
        }

        &:before{ display: none;
            font-family: 'FontAwesome'; content: "\f107";
            color: #222; font-size: 14px;
            position: absolute; top: 27px; #{$right}: -15px; font-weight: 400;
        }
    }


    //ul.megamenu > li:hover > a,
    //ul.megamenu > li > a:hover,
    ul.megamenu > li.active > a,
    ul.megamenu > li.active_menu > a{
        color: $linkColor;
    }
}

.container-megamenu.horizontal{
    ul.megamenu li .sub-menu .content .static-menu .menu ul{
        padding: 0;
    }
    ul.megamenu li .sub-menu .content .static-menu .menu ul ul li{ 
        //line-height: 30px; 
    }
    .title-feature,
    ul.megamenu .title-submenu,
    ul.megamenu li.item-style3 .sub-menu .content .static-menu .menu > ul > li > a.main-menu,
    ul.megamenu li.item-style2 .sub-menu .content .static-menu .menu > ul > li > a.main-menu,
    ul.megamenu .subcategory >  a.title-submenu{ 
        line-height: 100%; text-transform: uppercase; font-weight: 500; color: #222; 
        padding-bottom: 12px; margin-bottom: 8px; font-size: 14px; border-bottom: 1px solid #eaeaea;
    }
    ul.megamenu .subcategory{
        .menu{
            ul li{
                a.main-menu{
                    font-size: 13px; color: #666;
                    &:hover{
                        color: $linkColor;
                    }
                }
            }
        }
    }
    ul.megamenu li .sub-menu .content .static-menu > .menu > ul > li{
        padding-top: 0;
    }
    .content-feature li a,
    ul.megamenu li .sub-menu .content .static-menu .menu ul ul li a,
    ul.megamenu li .sub-menu .content .html a.subcategory_item,
    ul.megamenu .sub-menu .content .hover-menu .menu ul a.main-menu{ line-height: 30px; font-size: 13px; font-weight: 400;  color: #666; 
        &:hover{ color: $linkColor; }
    }
    ul.megamenu > li > a strong img{ position: absolute; top: -5px; #{$right}: 0px;  height: auto; margin: 0;}

    .content-feature li.detail{
        margin-top: 20px;
        .lc{
            text-transform: capitalize;
            font-size: 11px;
            line-height: 100%;
        }
    }

    /*-------- SUB MENU HORIZONTAL ----------*/

    

    ul.megamenu .sub-menu .content > .border{
        border: none;
        padding-top: 0;
    }
    ul.megamenu li .sub-menu .content .static-menu .menu ul ul,
    ul.megamenu .title-submenu{
        padding-left: 0; padding-right: 0;
    }
    ul.megamenu li .sub-menu .content .static-menu .menu ul ul li::before,
    ul.megamenu li .sub-menu .content .hover-menu a::before{
        display: none;
    }

    ul.megamenu li .sub-menu .content{
        img{
            &:hover{
                @include opacity(0.8);
            }
        } 
        .item-banner{
            .img-banner-w{
                margin: 0 -15px;
            }
            
        }  
    } 

    ul.megamenu li.style-page .sub-menu .content{
        ul.row-list li{
            
        }
    }
    
   
    .sub-menu{
        .content-feature{
            .title-feature{
                margin-bottom: 20px;
            }
            li{
                float: $left;
                width: 33.33%;
                text-align: center;
                a{
                    img{
                        margin-bottom: 8px;
                    }
                    span{
                        display: block;
                        width: 100%;
                        text-transform: uppercase;
                        font-size: 12px;
                        color: #666;
                        font-weight: 600;
                        line-height: 100%;
                        margin-top: 8px;
                    }
                    &:hover span{
                        color: $linkColor;
                    }
                }
            }
            
        }
        .demo-detail{
            ul{
                li{
                    width: 33.33%;
                }
            }
        }
        .feature-blog{
            a{
                text-align: center;
                img{
                    margin-bottom: 10px;
                }
                span{
                    display: block;
                    width: 100%;
                    text-transform: uppercase;
                    font-size: 12px;
                    color: #666;
                    font-weight: 600;
                    line-height: 100%;
                    margin-bottom: 0px;
                }
                &:hover span{
                    color: $linkColor;
                }
            }
            .clearfix{
                margin: 20px;
            }
        }
    } 


    ul.megamenu{
       @include breakpoint(lg){
            .full-width{
                > .sub-menu{
                    max-width: 1170px;
                    right: auto !important;
                    left: 0;
                }
            }
        }
        .item-style1{            
            /*.sub-menu{
                opacity: 1;
                display: block !important;
                .content{
                    display: block !important;
                } 
            }*/
            .subcategory li a{
                float: $left;
                text-align: $left;
            }
            .sub-menu .content{
                .hover-menu li{
                    text-align: $left;    
                    display: inline;                
                    a{
                        text-align: $left;
                    }
                }
                
            }
            
        }
        .item-style3{
            /*.sub-menu{
                opacity: 1;
                display: block !important;
                .content{
                    display: block !important;
                } 
            }*/
            .sub-menu .content{
                .categories {
                    .menu > ul > li:first-child{
                        margin-bottom: 20px;
                    }
                }
            }
            .sub-products{
                .product-thumb{
                    .image img{
                        width: 100%;
                    }
                }
                .caption{
                    text-align: center;
                    .rating,p{ display: none; }
                    h4{ font-weight: 500; margin: 5px 0;
                        a{ font-size: 16px; color: #444;
                            &:hover{ color: $linkColor; }
                        }
                    }
                    p.price{ display: block; }
                }
            }
        }
        .blog-item{
            .sub-menu .content{
                padding: 30px 25px;
            }
        }
        .quicklink-menu{
            margin-left: -30px;
            margin-right: -30px;

        }
        .quicklinks-menu{ 
            background-color: #ddd;   
            display: inline-flex;
            width: 100%;
            padding: 25px 30px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            ul{
                li{
                    float: $left;
                    line-height: 100%;
                    
                    span{
                        @include rem(font-size,14px);
                        color: #222;
                        font-weight: 700;
                    }
                    a{
                       margin-#{$left}: 5px;
                    }
                }
            }
        }

    }
    
}
/*============ MODULE MEGAMENU VERTICAL  ==================*/
/*--- mega menu vertical ---*/
.container-megamenu ul.megamenu li .sub-menu .content .hover-menu a::before{
    display: none;
}
.container-megamenu.vertical ul.megamenu > li.click::before, 
.container-megamenu.vertical ul.megamenu > li.hover::before{
    padding: 0;
}

.vertical ul.megamenu > li.click::before, .vertical ul.megamenu > li.hover::before{
    padding: 0;
}
.container-megamenu.vertical{
    z-index: 990;
    .megamenuToogle-wrapper{
        background-color: transparent;
    }
    #menuHeading{
        margin: 0;
        .megamenuToogle-pattern{  
            position: relative;          
            .container{            
                text-shadow: none;
                color: #fff;
                font-weight: 700;        
                @include rem(font-size, 16px);
                line-height: 60px;
                padding: side-values(0px 0px 0px 30px) !important;
                margin: 0;
                position: relative;
                text-transform: uppercase;
                display: block;   
                > div{ 
                    float: $left;   
                    padding-top: 22px;
                    margin: side-values(0px 9px 0 0);
                    > span{
                        box-shadow: none; height: 2px;
                    }
                }
                &:hover{
                    cursor: pointer;
                }
                
            }                      
        }
    }
    .vertical-wrapper{
        .megamenu-pattern{
            position: relative;
            z-index: 1;
        }
        @media (min-width: 992px){
        ul.megamenu{
            padding: 10px 0;
            background-color: #fff; min-width: 260px;
            box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
            
            > li{                
                cursor: pointer;
                padding: 0 20px;             
                border: none;
                margin: 0;               
                position: relative;
               
                > a{                                   
                    color: #222;
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 6px 0;
                    line-height: 23px;
                    position: relative;
                    text-transform: capitalize;
                    background:none;
                    height:auto;
                    strong{ font-weight: 400; }
                }
                &.with-sub-menu{ 
                    > a .fa-angle-right:before{
                        color: #666;
                        font-family: $FontAwesome;
                        display: inline-block;
                        @include if-ltr{             
                            content: "\f105"; 
                        }  
                        @include if-rtl {
                            content: "\f104"; 
                        }  
                        font-size: 18px;
                        position: absolute;
                        #{$right}: 0px;
                        top: 7px;
                    }
                    &:hover{
                        > a::before{
                            color: $linkColor;
                        }
                    }
                }
                &.active,
                &:hover{
                   
                   
                    > a{   
                        color:$linkColor;  background-color: transparent !important;   
                        .fa-angle-right:before{ color:$linkColor; }                                  
                    }
                    
                }
               
                
            }
            .loadmore{
                padding: side-values(15px 15px 22px 60px);
                line-height: 100%;
                i{
                    #{$left}: 25px;
                    top: 15px;
                    position: absolute;
                    font-size: 13px;
                    color: #7d7d7d;
                }
                .more-view{
                    color: #fff;
                    font-size: 13px;
                }
             
            } 
        }
        }
    }
}


.container-megamenu.vertical {    
    .vertical-wrapper{
        border: none;
        margin: 0;
        padding: 0;
        box-shadow: none;
        border-radius: 0;
        ul.megamenu .sub-menu .content .img-banner img{ width: 100%; }

        ul.megamenu > li > a img{height: auto; margin: 0;margin-#{$right}: 10px;}


        /*---------------- SUB MENU VERTICAL -----------------*/
        ul.megamenu .sub-menu .content > .border{
            padding: 0;
            border: none;
        }
        ul.megamenu .sub-menu .content > .row{
            padding-top: 5px;
        }
        ul.megamenu > li > .sub-menu .content{
            padding: 30px;
            @include if-ltr {box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);}
            @include if-rtl {box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.1);}
            
            .link img{
                margin-bottom: 10px;
                width: auto !important;
            }
            .static-menu .menu {
                > ul{ 
                    > li{
                        margin-bottom: 15px;
                    }
                    
                    li a.main-menu{
                        color: #434343;
                        font-size: 13px;
                        margin: 0 0 0px;
                        display: block;
                        font-weight: 700;
                        text-transform: uppercase;
                        border: none; 
                    }
                    ul{
                        padding: 0;
                        li{padding:  0; 
                            
                            display: inline;
                            a{
                                font-size: 13px;
                                font-weight: 300;
                                //color: #777;
                                display: block;
                                line-height: 28px;
                            }
                            &:before{
                                display: none;
                            }
                            &:hover{
                               a{ color: $linkColor; } 
                            }
                        }
                    }
                }
            }
            .link:hover{
                img{
                    opacity: 0.8;
                }
            }
            .img-vbanner{
                a:hover{
                    img{
                        opacity: 0.8;
                    }
                }
            }

            // type subcategory
            ul.subcategory{
                .title-submenu{
                    font-weight: 500;
                    color: #222;
                    font-size: 14px;
                    text-transform: uppercase;
                    padding: 0;
                }
                .menu{
                    ul{
                        li{
                            line-height: 100%;
                            display: inline;
                            a{                         
                                font-size: 13px;
                                line-height: 28px; font-weight: 300;
                                &:hover{
                                    //color: $linkColor;
                                }
                            }
                        }
                    }
                }
            }
        }


        ul.megamenu {
            
            .item-vertical.style1{
                
                .sub-menu{
                    .content{
                       padding: 0;   
                       .col-sm-7{
                        padding-#{$right}: 0;
                       }                 
                       .col-sm-5{
                        padding-#{$left}: 0;
                       }
                    } 
                }
                .img-vbanner{
                    float: $right;
                    padding-#{$right}: 15px;
                    a{
                        margin-bottom: 0px;
                        display: block;
                        &.last{
                            margin-bottom: 0;
                        }
                    }
                }
                .categories{
                    padding: side-values(15px 0 0 30px);
                    .static-menu .menu > ul > li{
                        margin-bottom: 0px;
                    }
                }
                
            }

            .item-vertical.item-style2{     
                /*.sub-menu{
                    opacity: 1;
                    display: block !important;
                    .content{
                        display: block !important;
                        > .row{
                            
                        }
                    } 
                }  */     
                
            }
            .item-vertical.css-menu{
                
                .content{
                    padding: 0;
                    .menu ul{
                        margin: 10px 0;
                        padding: 0;
                         li{
                            padding: 0 ;
                            position: relative;  
                    

                            &:last-child{border: none;}
                            > a{ line-height: 30px; font-size: 13px; font-weight: 300; display: inline-block; width: 100%; padding: 0 20px;}
                            b{
                                float: $right;
                                line-height: 27px;
                                font-size: 16px;
                                margin: 0 20px;
                                position: absolute;
                                top: 0;
                                #{$right}:0;
                                &:before{
                                    @include if-rtl {
                                        content: "\f104"; 
                                    } 
                                }                               
                            }
                            &:hover{ > a{color: $linkColor;}} 
                            
                            ul{
                                width: 250px;
                                padding: 10px 0;
                                top: 0;
                                margin: 0;                         
                                &:before, &:after{display: none;}
                                #{$left}: 100%;
                                li{
                                   
                                    &:last-child{border: none;}
                                    > a{
                                        font-weight: normal;
                                        line-height: 30px;
                                        
                                    }

                                }
                            }
                        }
                    }
                }
            }
            li .sub-menu{
                @media (min-width: 992px) {
                    @include if-rtl {
                        left: auto;
                        right: 100% !important;
                    }
                }
          
                
                
            }

           
        } 
       
    }
}




/*============ MODULE FILTER ==================*/

.module.so_filter_wrap{
    .so-filter-option.so-filter-price .content_scroll{
        margin: 20px 0 10px 10px;
    }
    .modcontent{
        background-color: #fff;
         margin: 0;
        ul{
            
            li.so-filter-options{
                
                margin-bottom: 10px;
                padding: 0px;
                .so-filter-heading{
                    padding: 0;
                    margin-bottom: 0px;
                    background-color: transparent;
                    .so-filter-heading-text{
                        float: $left;
                        color: #444;
                        font-weight: 600;
                        text-transform: uppercase;
                        @include rem(font-size,14px);
                        padding: 0;
                    }
                }
                .so-filter-content-opts{
                    border: none;
                    .so-filter-content-opts-container{
                        padding: 0;
                        .opt-select{
                            margin: 0;
                        }
                        .opt-select ~ .opt-select{
                            border-top: 1px solid #eaeaea;
                        }
                        //.so-filter-option{
                            .so-option-container{
                                
                                padding: 5px 0;
                                label{                                    
                                    margin-bottom: 0;
                                    font-size: 14px;
                                }
                                .option-count {
                                    padding: 0;
                                    span{
                                        color: #333;
                                        font-size: 14px;
                                    }
                                }
                                &:hover{
                                    label,
                                    .option-count span{
                                        color: $linkColor;
                                    }
                                }
                            }
                        //}
                    }
                }
                &:last-child{
                    border-bottom: none;
                    margin-bottom: 0;
                }
            }
        }
        .so-filter-content-opts-container{
            overflow: inherit;
            .so-filter-option label{ font-size: 12px; text-transform: capitalize;}
            .opt-select{ border: none;
                &.so-filter-option-sub{
                    /*margin: 0 -20px;
                    padding: 0 20px;*/
                    &:hover{
                        background-color: #fff;
                    }
                }
            }
            .noUi-horizontal .noUi-handle{
                border-radius: 0;
                box-shadow: none;
                &:before,
                &:after{display: none;}
                //&.noUi-handle-lower{left: 0;}
                //&.noUi-handle-upper{right: 18px; left: initial;}
            }
            .put-min_max{
                display: inline-block;
                background: #fff;
                border: 1px solid #ddd;
                width: 49%;
                padding: 0 5px;
                float: $left;
                &.put-min{ margin-#{$right}: 2%; }
                input{ background: transparent; }
            }
            .option-input{
               
            }

            .input-group{
                border: 1px solid #eaeaea;
                background-color: #fff;
                .form-control{
                    background: transparent;
                   
                }
                .btn.btn-default{
                    padding: 7px;
                    color: #555;
                    background: transparent;
                    border-radius: 0;
                    &:hover{background: transparent; color: $linkColor;}
                }
            }
            
            .so-filter-option:hover{
                .option-input:before {
                    background-color: transparent;
                    border: 2px solid #999;
                }
            }
            .so-filter-option .option-input{
                .fa-square-o{
                    position: relative;
                    top: 0px;
                }
                
            }
            .so-filter-option.opt_active .option-input{
                .fa-check-square-o{
                    color: $linkColor;
                }
                &:before {
                    background-color: transparent;
                    border: 2px solid #999;
                }
            }

        }

        .so-filter-option.so-filter-price{
            text-align: $left;
            padding: 0;
            /*.content_scroll {
                margin: 30px 0 20px;
            }*/
        }
        .so-filter-content-opts-container ul li{
            float: $left;
        }

        .so-filter-option.so-filter-price .content_min_max{
            display: block;
            .txt-price-shopby{
                min-width: 60px;
                width: 49%;
                padding: 0 5px;
                display: inline-block;
                float: $left;
                border: 1px solid #ddd;
                display: inline-block;
                &.txt-price-shopby-fisrt{
                    margin-#{$right}: 2%;
                }
                span{
                    display: table-cell;
                    vertical-align: middle;
                    &.text-current{
                        position: relative;
                        top: 1px;
                    }
                }

            }
            .input_max,
            .input_min{
                border: none;
                box-shadow: none;
                padding: 0;
                margin: 0;
                width: 40px;
                min-width: 40px;
            }
        }
        
        .noUi-handle{
            border: none; background-color: $background;
            width: 7px;
            height: 7px;
            left: -7px;
            #{right}: 7px !important;
            top: -2px;
            &:hover{
                cursor: e-resize;
            }
        }
        .noUi-connect{
            box-shadow: none;
            height: 3px;
            background: $background;       
            border-radius: 0;    
        }
        .noUi-background {
            background: #d7d7d7;
            box-shadow:none;
            height: 3px;
            border-radius: 0px;
        }

        .noUi-target{
            border: none;
        }
   
        .clear_filter{
            padding: side-values(0 0 20px 0px);
        }
        .btn_resetAll {
            padding: 8px 15px; margin-top: 15px;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;     
            background-color: #777;
            &:hover{
                background-color: $background;
            }
            .fa.fa-times{
                color: $linkColor;
            }
        }
    }
}
.so-filter-content-opts-container .option-count{background-color: #ccc !important; min-width: 24px;text-align: center; margin-top: 3px;
    &:not(.opt_close):after{ display: none;   border-right-color: $input-color-placeholder;}
}
.so_filter_wrap  .modcontent {
    
    .so-filter-heading i{float: $right;}
    .so-filter-content-opts-container label{font-weight: normal;}
    .so-filter-content-opts-container .option-count{float: $right;
        @include if-rtl {
            &:not(.opt_close):after{
                left:100%;
                right: auto;
                border-right-color: transparent;
                border-left-color: $input-color-placeholder;
                
            }
        }
    }
}
.so-filter-content-opts-container .option-count span{
    color: $textColor;
}
#content .filter-horizontal{
    margin-bottom: 30px;

    .modcontent .btn_resetAll{
        margin: 15px;
    }

    .so-filter-heading{padding: 0 15px;}
    .so-filter-content-opts-container{padding: 15px;
        .so-filter-iscroll{
            padding: 10px 0;
        }
    }
    ul{ @include display(flex); border-bottom: 1px solid #ddd; }
    li.so-filter-options{@include flex(1);
        border:none;
        border-#{$right}: 1px solid #eaeaea;
        margin: 0;
        &:last-child{border-right: none;}
        .so-filter-heading{
            margin-bottom: 0;
        }
    }
    .clear_filter {
       padding: 20px;
       border-top: 1px solid $base-border-color;
    }
    h3.modtitle{
        color: #222;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
        margin-top: 0;
    }

    .modcontent{
        border: 1px solid $base-border-color;
        ul li.so-filter-options{
            border-radius: 0;  padding:10px 0; 
        }
    }
}

/*============ MODULE TAGS ===================*/
.block-tags{
    margin-top: 20px;
    .so-popular-tag{
        a{
            float: $left;
            font-size: 13px !important;
            padding: 8px 15px;
            border: 1px solid $base-border-color;
            border-radius: 5px;
            margin: side-values(0 5px 5px 0);
            line-height: 100%;
            background-color: #fff;
            &:hover{
                color: #fff;
                background-color: $background;
                border-color: $background;
            }
        }
    }
}


/*============MODULE CATEGORY ==================*/
.module-category{
    .box-category{
        
    }
}

.box-category ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.box-category > ul {
    padding: 0;
    > li {
        margin: 0;
        padding:0;
        border: none;
        position: relative;
        box-shadow: unset;
        border-radius: 0;
        border-bottom: 1px solid #eaeaea;  
        > a{                           
            display: block;
            font-weight: 400;
            line-height: 100%;
            padding: 14px 0;
            line-height: 100%;
            text-transform: capitalize; 
            margin: 0;     
              
        }
        &:last-child{
            @include border-bottom-radius(0px);
            border: none;
            > a{
                @include border-bottom-radius(0px);
                
            }
        }
        &:hover{
            > a{
                color: $linkColor;
            }
            .head{
                a{
                    color: #fff;
                }
            }
        }
        ul{
            margin-#{$left}: 20px; 
        }
          
        a.accordion-toggle{
            width: 25px;
            height: 25px;
            line-height: 25px;
            background-color: #dbdbdb;
            color: #fff ;
            &:hover{
                background-color: $background;
            }
        }
      
    }
} 
    
.box-category ul li a {
    
    //@include linkGray();
}
.box-category ul li a.active{color: $linkColor;} 
//.box-category ul li .head .collapsed:before, 
.box-category ul li .head .show:before {
    content: "\f107";
    display: inline-block;
    font: normal normal normal 14px/1 $FontAwesome;
}

.box-category ul li .head .accordion-toggle:before {
    content: "\f105";
    @include if-rtl {
        content: "\f104";
    }
    font: normal normal normal 14px/1 $FontAwesome;
}
.box-category ul li .head {
    display: block;
    position: absolute;
    top: 8px;
    line-height: 20px;
    #{$right}: 15px;
    text-align: center;
    a:hover{
        color: #fff;
    }
    
}
.box-category ul li .head a {
     
}

.box-category ul li ul li {
    padding: side-values(0px 0px 0px 5px);
}
.box-category ul ul{margin-bottom: 20px;}
.box-category ul ul li a{padding:  3px 0;}

.box-category ul li ul li a:before{
    font-family: $FontAwesome;
    transition: all 0.3s ease;
    @include if-ltr {
        content: "\f105";
        margin: 0 5px 0 ;
    }
    @include if-rtl {
        content: "\f104";
        margin: 0 0 0 5px;
        float: right;
    }
}
.box-category ul li ul li a:hover:before{
    margin-right: 10px;
}


/* ============== Page categories ============== */

.page-categories{
    margin-top: 30px;
    ul{
        margin: 0 -6px;
        li{
            float: $left;
            padding: 0 6px;
            .cate{
                text-align: center;
                margin-bottom: 30px;
                .cate-img{
                    display: block;
                    width: 100%;
                    position: relative;
                    margin-bottom: 7px;
                    &:hover{
                        opacity: 0.8;
                    }
                }
                a{                    
                    color: #000;
                    font-size: 14px;
                    &:hover{
                        color: $linkColor;
                    }
                }

            }
        }
    }
}


/*================ So Sticky ===============*/
@media (max-width: 1199px){
    #content #so-groups{
        display: none;
    }
}

#content #so-groups{
    > a span{
        background-color: $background;
    }
    > a:hover{
        background-color: darken($background,10%);
    }
} 

#content .so-groups-sticky{
    background-color: $background;
    &.left{
        #{$left}: 0;
        #{$right}: auto;
    }
    &.right{
        #{$right}: 0;
        #{$left}: auto;
    }
    .popup-header{
        padding: side-values(25px 70px 25px 40px);
        .popup-close{
            #{$right}: 20px;
            #{$left}: auto;
            color: #fff;
            font-size: 22px;
            opacity: 1;
        }
    }

    .product-thumb .button-group button,
    .form-content .form-box #button-search{
        background-color: $background !important;
        &:hover{
            background-color: darken($background, 10%) !important;
        }
    }
    .form-content .form-box .product-thumb .caption h4 a:hover{
        color: $linkColor;
    }
    .form-content .form-box .price .price-new, 
    .form-content .form-box .price span.price{
        color: #222;
    }
    .form-content .form-box .product-thumb .image .bt-sale,
    .popup-header{
        background-color: $background;
    }
    .form-content .form-box .product-thumb .caption{
        height: auto;
        max-height: auto;
        min-height: auto;
    }
    .popup-close, 
    .popup-close i.fa{
        font-size: 16px;
    }

    .popup-header > span > i{
        margin-#{$right}: 10px;
        margin-#{$left}: auto;
    }
    .nav-secondary{
        ul{
            li{
                a:hover{
                    color: $linkColor;
                }
            }
        }
    }
    .form-content .form-box input.field:hover,
    .form-content .form-box select.field:hover{
        cursor: pointer;
    }
}
#so-groups .form-content .form-box a.account-url:hover .account-txt{
    color: #ff5c00;
}

#so-groups .form-content .form-box input + i{
    font-size: 16px;
    margin-top: -9px;
    &:hover{
        color: $linkColor;
    }
}
#so-groups .form-content .form-box .product-thumb .caption h4{
    margin-bottom: 0;
    a{
        font-weight: 400;
    }
} 

#so-groups > a{
    position: relative;
    height: 43px;
    &.sticky-backtop{
        border-bottom: none;
    }
    span{
        background-color: $background;
        color: #fff;
        display: inline-block;
        font-size: 14px;
        line-height: 22px;
        opacity: 0;
        padding: 10px;
        position: absolute;
        #{$right}: 100%;
        text-align: center;
        text-transform: capitalize;
        top: 0;
        transition: all 0.2s ease-in-out 0s;
        visibility: hidden;
        white-space: nowrap;
        width: auto;
    }
    &:hover{
        span{
            opacity: 1;
            transition: all 0.2s ease-in-out 0s;
            visibility: visible;
            width: auto;
        }
    }
}

.so-onepagecheckout .checkout-cart td.quantity .input-group{
    min-width: 95px;
}

#so-groups .popup-content{
    max-height: 415px;
    overflow-y: scroll;
}
#so-groups .cart-bottom p{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
#so-groups div.nav-secondary li span.nav-action i.fa{
    height: 47px;
    line-height: 47px;
}

#so-groups .cart-bottom p > a.btn-checkout{
    background-color: $background;
}
#so-groups .text-color,
#so-groups table tr td.total-price, 
#so-groups .cart-bottom table tr td.text-right{
    color: $linkColor;
}
#so-groups div.nav-secondary li a{
    text-transform: capitalize;
}

// onepage checkout
#content .so-onepagecheckout .secondary-title i.fa{
    margin-#{$right}: 10px;
    margin-#{$left}: auto;
    background-color: $background;
}
.so-onepagecheckout .price{
    font-size: 14px;
}

// search pro
body #sosearchpro .dropdown-menu .media-body .box-price{
    .price-new{
        color: $linkColor;
    }
    .price{
        font-size: 13px;
        color: $linkColor;
    }
    span{
        font-weight: normal;
        font-size: 13px;
        color: #666;
    }
} 

/*====== so countdown popup =====*/
#content #so_popup_countdown .modal-header{
    background-color: #212d36;
    .close{
        font-size: 23px;
        #{$right}: 15px;
        top: 33px;
        &:hover{ color: $linkColor; }
    }
    h2{
        font-size: 20px; color: #fff; font-weight: 600;
    }
} 
body #so_popup_countdown .modal-footer #so_countdown_timer{
    top: 65px;
    #{left}: 50%;
    transform: translateX(-50%);
    .time-item{
        border: none; width: auto; margin-#{$right}: 10px; margin-#{$left}: auto;
        position: relative; height: 62px; padding-top: 0;
        /*&:before{
            position: absolute;
            content: "";
            background-color: #472030; width: 100%; height: 1px;
            top: 31px; #{$left}:0;
        }*/
        .num-time{
            font-size: 43px;
           /* background-color: #141e27;*/
            -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.47);
            -moz-box-shadow:    0px 2px 8px 0px rgba(0, 0, 0, 0.47);
            box-shadow:         0px 2px 8px 0px rgba(0, 0, 0, 0.47);            
            height: 62px; line-height: 62px; font-weight: 500;
            padding: 0 10px;
            background: url(#{$imgPath}bg-count.png) repeat-x;  
            border-radius: 3px;
            min-width: 70px;
        }
        .name-time{
            font-size: 12px; margin-top: 5px;
        }

    }
}


#so_popup_countdown{
    .list-cates{
        padding-top: 45px;
        ul{           
            padding: 0 65px;

            li{
                float: $left;
                padding: 0 10px; 
                width: 33.333%;
                margin: 10px 0;
                a{
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    border: 2px solid #cfcfcf;
                    display: block;
                    background-image: url(#{$imgPath}icon/css_sprites.png);
                    background-repeat: no-repeat;
                    padding: side-values(15px 10px 15px 65px);                    
                    line-height: 100%;
                    color: #323232;
                    background-color: #fff;
                    &:hover{
                        color: $linkColor; border-color: $linkColor;
                    }
                }
                &.icon1 a{
                    background-position: $left 8px;
                    
                }
                &.icon2 a{
                    background-position: $left -46px ;
                    
                }
                &.icon3 a{
                    background-position: $left -102px ;
                    
                }
                &.icon4 a{
                    background-position: $left -158px ;
                    
                }
                &.icon5 a{
                    background-position: $left -220px ;
                   
                }
                &.icon6 a{
                    background-position: $left -276px ;
                    
                }
                
            }
        }

        .customer{
            display: inline-block;
            width: 100%;
            border-top: 1px solid rgba(0, 0, 0, 0.04);
            font-size: 14px;
            font-weight: 500;
            margin-top: 18px;
            padding: 15px;
            text-align: center;
            a{
                color: #f44336;
                &:hover{
                    text-decoration: underline;
                }
            }
        }

    }
}

.hidden-popup-countdown{
    overflow: visible;
   
    #so_popup_countdown{
        display: none !important;
    }
}
.hidden-popup-countdown{
     .modal-backdrop{
        display: none !important;
     }
}
.hidden-popup-countdown.modal-open{
     .modal-backdrop:first-child{
        display: none !important;
     }
}
.hidden-popup-countdown.modal-open{
     .modal-backdrop{
        display: block !important;
     }
}

// quick view
body .mfp-close{
    #{$right}: 0;
    #{$left}: auto;
}

#product-quick .owl2-carousel .owl2-stage-outer{
    direction: ltr;
}


.so-fb-message-style-default .so-fb-message-head{
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
}