{% if type_show == 'slider' %}
		<div class="ltabs-items-inner owl2-carousel  ltabs-slider ">
{% else %}
		<div class="ltabs-items-inner {{ type_show == 'loadmore' ? class_ltabs ~ ' '~ effect : ' ' }}">
{% endif %}
{% if child_items is not empty %}
	{% set i = 0 %}
	{% set k = rl_loaded is defined ? rl_loaded : 0 %}
	{% set count = child_items|length %}
		{% for product in child_items %}
			{% set i = i + 1 %}
			{% set k = k + 1 %}
			
			{% if type_show == 'slider' and (i % nb_rows == 1 or nb_rows == 1) %}
				<div class="ltabs-item ">
			{% endif %}
			{% if type_show == 'loadmore' %}
				<div class="ltabs-item new-ltabs-item" >
			{% endif %}			
			<div class="item-inner product-layout transition product-grid">

				<div class="product-item-container">
					<div class="left-block">									
						<div class="product-image-container {% if product_image_num  == 2 %} {{ 'second_img' }} {% endif %}	">
							<a href="{{ product.href }}" target="{{ item_link_target }}" title="{{ product.nameFull }} "  >
								{% if product_image_num ==2 %}
									<img data-sizes="auto" src="image/catalog/productLoading.svg" data-src="{{ product.thumb }}" class="img-1 lazyload" alt="{{ product.name }}" />
									<img data-sizes="auto" src="image/catalog/productLoading.svg" data-src="{{ product.thumb2 }}" class="img-2 lazyload" alt="{{ product.name }}">
								{% else %}
									<img data-sizes="auto" src="image/catalog/productLoading.svg" data-src="{{ product.thumb }}" class="img-1 lazyload" alt="{{ product.name }}" />
								{% endif %}	
							</a>						
						</div>
						<div class="box-label">
							{% if product.special  and  display_sale  %} 
								<span class="label-product label-sale">{# {{ objlang.get('text_sale') }} #} {{ product.discount }}  </span>
							{% endif %} 

							{% if product.productNew  and  display_new  %} 
								<span class="label-product label-new">{{ objlang.get('text_new') }} </span>
							{% endif %} 											
						</div>
						{% if display_add_to_cart  %} 
							<button type="button" class="addToCart btn-button" title="{{ objlang.get('button_cart') }}" onclick="cart.add('{{ product.product_id }}');"><span>{{ objlang.get('button_cart') }} </span></button>
						{% endif %} 
						<div class="button-group cartinfo--left">
							<div class="so-quickview">
								<a class="hidden" data-product='{{ product.product_id }}' href="{{ product.href }}"></a>
							</div>
							{% if display_wishlist  %} 
							<button type="button" class="wishlist btn-button" title="{{ objlang.get('button_wishlist') }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="pe-7s-like"></i></button>
							{% endif %} 							
							{% if display_compare %} 
							<button type="button" class="compare btn-button" title="{{ objlang.get('button_compare') }}" onclick="compare.add('{{ product.product_id }}');"><i class="pe-7s-graph3"></i></button>
							{% endif %} 

						</div>
				
						
													
					</div>

					<div class="right-block">
						

						{% if display_title %} 
							<h4>
								<a href="{{ product.href }}" target="{{ item_link_target }}" title="{{ product.nameFull }} "  >
									{{ product.name }} 
								</a>
							</h4>
						{% endif %}
						{% if display_rating %}
							{% if product.rating %}
								<div class="rating">
									{% for k in 1..5 %}
										
										{% if product.rating < k %} 
											<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
									 	{% else %}   
											<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
										{% endif %} 
										{% set k = k + 1 %}
									{% endfor %} 
								</div>
							{% else %}  
							<div class="rating">
								{% for j in 1..5 %}
									{% set j = j + 1 %}
									<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
								{% endfor %} 													
							</div>
							{% endif %}	
						{% endif %}	
						{% if display_price %} 
							<div  class="price">
								{% if not product.special %} 
									<span class="price-new">
										{{ product.price }} 
									</span>
								{% else %}   
									<span class="price-new">{{ product.special }} </span>&nbsp;&nbsp;
									<span class="price-old">{{ product.price }} </span>&nbsp;
								{% endif %} 
								
							</div>
						{% endif %} 						
						
						{% if display_description %} 
							<div class="item-des">
								{{ product.description }} 
							</div>
						{% endif %} 
																	
						
						
					</div>

					
	
				</div>
				
			</div>
			{% if type_show == 'slider' and (i % nb_rows == 0 or i == count) %}
			</div>
			{% endif %}
			
			{% if type_show == 'loadmore' %}
			</div>
			{% endif %}

			{% if type_show == 'loadmore' %}
				{% set clear = 'clr1' %}
				{% if k % 2 == 0 %} {% set clear = clear ~' clr2' %} {% endif %}
				{% if k % 3 == 0 %} {% set clear = clear ~' clr3' %} {% endif %}
				{% if k % 4 == 0 %} {% set clear = clear ~' clr4' %} {% endif %}
				{% if k % 5 == 0 %} {% set clear = clear ~' clr5' %} {% endif %}
				{% if k % 6 == 0 %} {% set clear = clear ~' clr6' %} {% endif %}
				<div class="{{ clear }}"></div>
			{% endif %}
		{% endfor %}
	{% endif %}
</div>

{% if type_show == 'slider' %}
<script type="text/javascript">
	jQuery(document).ready(function($){
		var $tag_id = $('#{{ tag_id }}'), 
		parent_active = 	$('.items-category-{{ tab_id }}', $tag_id),
		total_product = parent_active.data('total'),
		tab_active = $('.ltabs-items-inner',parent_active),
		nb_column0 = {{ nb_column0 }},
		nb_column1 = {{ nb_column1 }},
		nb_column2 = {{ nb_column2 }},
		nb_column3 = {{ nb_column3 }},
		nb_column4 = {{ nb_column4 }};
		tab_active.owlCarousel2({
			rtl: {{ direction }},
			nav: {{ display_nav }},
			dots: false,	
			margin: 30,
			loop:  {{ display_loop }},
			autoplay: {{ autoplay }},
			autoplayHoverPause: {{ pausehover }},
			autoplayTimeout: {{ autoplayTimeout }},
			autoplaySpeed: {{ autoplaySpeed }},
			mouseDrag: {{ mousedrag }},
			touchDrag: {{ touchdrag }},
			navRewind: true,
			navText: [ '', '' ],
			responsive: {
				0: {
					items: nb_column4,
					nav: total_product <= nb_column0 ? false : (({{display_nav}}) ? true: false),
				},
				480: {
					items: nb_column3,
					nav: total_product <= nb_column0 ? false : (({{display_nav}}) ? true: false),
				},
				768: {
					items: nb_column2,
					nav: total_product <= nb_column0 ? false : (({{display_nav}}) ? true: false),
				},
				992: {
					items: nb_column1,
					nav: total_product <= nb_column0 ? false : (({{display_nav}}) ? true: false),
				},
				1200: {
					items: nb_column0,
					
					nav: total_product <= nb_column0 ? false : (({{display_nav}}) ? true: false),
				}
			}
		});
	});
</script>
{% endif %}