{#
****************************************************** 
 * @package	SO Framework for Opencart 3.x
 * @author	http://www.opencartworks.com
 * @license	GNU General Public License
 * @copyright(C) 2008-2017 opencartworks.com. All rights reserved.
 ******************************************************
#}
<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
<meta name="viewport" content="width=device-width, initial-scale=1"> 
{% if description %}<meta name="description" content="{{ description }}" />{% endif %}
{% if keywords %}<meta name="keywords" content="{{ keywords }}" />{% endif %}
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
{# =========== Begin General CSS ==============#}
{% if direction=='ltr' %} {{soconfig.addCss('catalog/view/javascript/bootstrap/css/bootstrap.min.css')}}
{% elseif direction=='rtl' %}{{soconfig.addCss('catalog/view/javascript/soconfig/css/bootstrap/bootstrap.rtl.min.css')}} 
{% else %}{{soconfig.addCss('catalog/view/javascript/bootstrap/css/bootstrap.min.css')}} {% endif %}
{{soconfig.addCss('catalog/view/javascript/font-awesome/css/font-awesome.min.css')}}
{{soconfig.addCss('catalog/view/javascript/soconfig/css/lib.css')}}
{{soconfig.addCss('catalog/view/theme/'~theme_directory~'/css/ie9-and-up.css')}}
{{soconfig.addCss('catalog/view/theme/'~theme_directory~'/css/custom.css')}}
{{soconfig.addCss('catalog/view/javascript/pe-icon-7-stroke/css/pe-icon-7-stroke.css')}}
{{soconfig.addCss('catalog/view/javascript/pe-icon-7-stroke/css/helper.css')}}
{% for style in styles %}{{ soconfig.addCss(style.href)}}{% endfor %}
{# =========== Begin General Scripts ==============#}
{{soconfig.addJs('catalog/view/javascript/jquery/jquery-2.1.1.min.js')}}
{{soconfig.addJs('catalog/view/javascript/bootstrap/js/bootstrap.min.js')}}
{{soconfig.addJs('catalog/view/javascript/soconfig/js/libs.js')}}
{{soconfig.addJs('catalog/view/javascript/soconfig/js/so.system.js')}}
{{soconfig.addJs('catalog/view/javascript/soconfig/js/jquery.sticky-kit.min.js')}}
{{soconfig.addJs('catalog/view/javascript/lazysizes/lazysizes.min.js')}}
{% if class=='information-information' %} {{soconfig.addJs('catalog/view/javascript/soconfig/js/typo/element.js')}} {% endif %}
{% if soconfig.get_settings('toppanel_status') %}{{soconfig.addJs('catalog/view/javascript/soconfig/js/toppanel.js')}}{% endif %}
{% if soconfig.get_settings('typelayout') =='7' %}
	{{soconfig.addJs('catalog/view/javascript/soconfig/js/isotope.pkgd.min.js')}}
	{{soconfig.addJs('catalog/view/javascript/soconfig/js/imagesloaded.pkgd.min.js')}}
{% endif %}


{{soconfig.addJs('catalog/view/theme/'~theme_directory~'/js/so.custom.js')}}
{{soconfig.addJs('catalog/view/theme/'~theme_directory~'/js/common.js')}}

{% for script in scripts %} {{soconfig.addJs(script)}} {% endfor %}
{# =========== Begin Other CSS & JS  ==============#}
{{soconfig.scss_compass}}
{{soconfig.css_out(soconfig.get_settings('cssExclude'))}}
{{soconfig.js_out(soconfig.get_settings('jsExclude'))}}
{# =========== Custom Code Editor ==============#}
{% if soconfig.get_settings('cssinput_status') and (soconfig.get_settings('cssinput_content')) is not empty %}{{ soconfig.get_settings('cssinput_content')  }} {% endif %} 
{# =========== Begin Google Analytics ==============#}
{% for link in links %}<link href="{{ link.href }}" rel="{{ link.rel }}" />{% endfor %}
{% for analytic in analytics %}{{ analytic }}{% endfor %}

{% if soconfig.get_settings('layoutstyle') == 'boxed'  %} 
<style type="text/css">
body {
    background-color:{{ soconfig.get_settings('theme_bgcolor') ? soconfig.get_settings('theme_bgcolor') : 'none' }} ;       
    {% if soconfig.get_settings('contentbg') !='' %}
        background-image: url("image/{{soconfig.get_settings('contentbg') }} ");
    {% endif %}
    background-repeat:{{ soconfig.get_settings('content_bg_mode') is not empty ? soconfig.get_settings('content_bg_mode') : 'no-repeat' }} ;
    background-attachment:{{ soconfig.get_settings('content_attachment') is not empty ? soconfig.get_settings('content_attachment') : 'inherit' }} ;
    background-position:top center; 
}
</style>
{% endif %} 
 
</head>
{# =========== Add class Body ==============#}
{% set layoutbox =  url_layoutbox is not empty  ? url_layoutbox : soconfig.get_settings('layoutstyle') %}
{% set cls_body = class ~ ' ' %}
{% set cls_body = cls_body ~ direction %}
{% set cls_body = cls_body ~ ' layout-'~soconfig.get_settings('typelayout')%}
{% set cls_wrapper = 'wrapper-'~layoutbox%}
{% set cls_wrapper = cls_wrapper ~ ' banners-effect-'~soconfig.get_settings('type_banner')%}
	
<body class="{{cls_body}}">
<div id="wrapper" class="{{cls_wrapper}}">  
 
{# =========== Show Preloader ==============#}
{% if soconfig.get_settings('preloader')%}
	{% include theme_directory~'/template/soconfig/preloader.twig' with {preloader: soconfig.get_settings('preloader_animation')} %}
{% endif %}

{# =========== Show Header==============#}
{% if soconfig.get_settings('typeheader') %}
	{% include theme_directory~'/template/header/header'~ soconfig.get_settings('typeheader') ~'.twig' with {typeheader: soconfig.get_settings('typeheader')} %}

{% else%}	
	<style>
		.alert-primary .alert-link {color: #002752;}
		.alert-link {font-weight: 700;text-decoration: none;}
		.alert-link:hover{text-decoration: underline;}
		.alert {color: #004085;background-color: #cce5ff;padding: .75rem 1.25rem;margin-bottom: 1rem;border: 1px solid #b8daff;border-radius: .25rem;
		}
	</style>
	<div class="alert alert-primary">
			Go to admin, find Extensions >>  <a class="alert-link" href="admin/index.php?route=marketplace/modification"  target=”_blank”> Modifications </a> and click 'Refresh' button. To apply the changes characterised by the uploaded modification file
	</div>
{% endif %}

<div id="socialLogin"></div>
 
 {% if setting is defined and setting.so_sociallogin_enable and setting.so_sociallogin_popuplogin %} 
 <div class="modal fade in" id="so_sociallogin" tabindex="-1" role="dialog" aria-hidden="true"> 
 <div class="modal-dialog block-popup-login"> 
 <a href="javascript:void(0)" title="Close" class="close close-login fa fa-times-circle" data-dismiss="modal"></a> 
 <div class="tt_popup_login"><strong>{{ text_title_popuplogin }}</strong></div> 
 <div class="block-content"> 
 <div class=" col-reg registered-account"> 
 <div class="block-content"> 
 <form class="form form-login" action="{{ login }}" method="post" id="login-form"> 
 <fieldset class="fieldset login" data-hasrequired="* Required Fields"> 
 <div class="field email required email-input"> 
 <div class="control"> 
 <input name="email" value="" autocomplete="off" id="email" type="email" class="input-text" title="Email" placeholder="E-mail Address" /> 
 </div> 
 </div> 
 <div class="field password required pass-input"> 
 <div class="control"> 
 <input name="password" type="password" autocomplete="off" class="input-text" id="pass" title="Password" placeholder="Password" /> 
 </div> 
 </div> 
 {% if setting.so_sociallogin_enable %} 
 <div class=" form-group"> 
 <label class="control-label">{{ text_title_login_with_social }}</label> 
 <div> 
 {% if setting.so_sociallogin_googlestatus %} 
 {% if setting.so_sociallogin_button == 'icon' %} 
 <a href="{{ googlelink }}" class="btn btn-social-icon btn-sm btn-google-plus"><i class="fa fa-google fa-fw" aria-hidden="true"></i></a> 
 {% else %} 
 <a class="social-icon" href="{{ googlelink }}"> 
 <img class="img-responsive" src="{{ googleimage }}" 
 data-toggle="tooltip" alt="{{ setting.so_sociallogin_googletitle }}" 
 title="{{ setting.so_sociallogin_googletitle }}" 
 /> 
 </a> 
 {% endif %} 
 {% endif %} 
 {% if setting.so_sociallogin_fbstatus %} 
 {% if setting.so_sociallogin_button == 'icon' %} 
 <a href="{{ fblink }}" class="btn btn-social-icon btn-sm btn-facebook"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></a> 
 {% else %} 
 <a href="{{ fblink }}" class="social-icon"> 
 <img class="img-responsive" src="{{ fbimage }}" 
 data-toggle="tooltip" alt="{{ setting.so_sociallogin_fbtitle }}" 
 title="{{ setting.so_sociallogin_fbtitle }}" 
 /> 
 </a> 
 {% endif %} 
 {% endif %} 
 {% if setting.so_sociallogin_twitstatus %} 
 {% if setting.so_sociallogin_button == 'icon' %} 
 <a href="{{ twitlink }}" class="btn btn-social-icon btn-sm btn-twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a> 
 {% else %} 
 <a class="social-icon" href="{{ twitlink }}"> 
 <img class="img-responsive" src="{{ twitimage }}" 
 data-toggle="tooltip" alt="{{ setting.so_sociallogin_twittertitle }}" 
 title="{{ setting.so_sociallogin_twittertitle }}" 
 /> 
 </a> 
 {% endif %} 
 {% endif %} 
 {% if setting.so_sociallogin_linkstatus %} 
 {% if setting.so_sociallogin_button == 'icon' %} 
 <a href="{{ linkdinlink }}" class="btn btn-social-icon btn-sm btn-linkdin"><i class="fa fa-linkedin fa-fw" aria-hidden="true"></i></a> 
 {% else %} 
 <a class="social-icon" href="{{ linkdinlink }}"> 
 <img class="img-responsive" src="{{ linkdinimage }}" 
 data-toggle="tooltip" alt="{{ setting.so_sociallogin_linkedintitle }}" 
 title="{{ setting.so_sociallogin_linkedintitle }}" 
 /> 
 </a> 
 {% endif %} 
 {% endif %} 
 </div> 
 </div> 
 {% endif %} 
 <div class="secondary ft-link-p"><a class="action remind" href="{{ link_forgot_password }}"><span>{{ text_forgot_password }}</span></a></div> 
 <div class="actions-toolbar"> 
 <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span>{{ text_login }}</span></button></div> 
 </div> 
 </fieldset> 
 </form> 
 </div> 
 </div> 
 <div class="col-reg login-customer"> 
 {{ text_colregister }} 
 <a class="btn-reg-popup" title="{{ text_register }}" href="{{ register }}">{{ text_create_account }}</a> 
 </div> 
 <div style="clear:both;"></div> 
 </div> 
 </div> 
 </div> 
 <script type="text/javascript"> 
 jQuery(document).ready(function($) { 
 var $window = $(window); 
 function checkWidth() { 
 var windowsize = $window.width(); 
 if (windowsize > 767) { 
 $('a[href*="account/login"]').click(function (e) { 
 e.preventDefault(); 
 $("#so_sociallogin").modal('show'); 
 }); 
 } 
 } 
 checkWidth(); 
 $(window).resize(checkWidth); 
 }); 
 </script> 
 {% endif %} 
 
