
//** simple and lightweight mixin library for Sass **
//-- url : http://bourbon.io/docs ---
@import 'bourbon/bourbon';

//** Mixins for Rem Font Sizing **
//-- url : http://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
@import 'utilities/rem';

//** Variables for responsive design in bootstrap with sass **
//-- url : https://gist.github.com/webinfinita/11407836
@import 'utilities/bootstrap_breakpoints';

//** Makes supporting both left-to-right (LTR) and right-to-left (RTL) easy.**
//-- url : https://github.com/tysonmatanich/directional-scss
@import 'utilities/directional';

//Mixins utilities
@import 'utilities/theme_variables';
@import 'utilities/utilities';

/* ================================================================================ */

/*.footer-container{
	margin-top: 40px;
}*/
.common-home{
	.typefooter-1{
		border: none;
	}
}
.typefooter-1{
	padding-top: 0px;
	
	/* GENERAL */
	.module .modtitle{
       	font-size: 16px; color: #222;  
	    font-weight: 600;
	    text-transform: capitalize;   
	    margin: 0 0 25px 0;          
	}
	.box-footer{				
		.modcontent{
			ul.menu{
				li{		        
		          a{
		            border: 0 none;		            
		            padding: 0;		    
		            font-weight: 400; 
		            line-height: 30px;  
		            position: relative;		       
		            display: inline-block;
		            
		          }		    
		        }
			}
		}
	}
	
	  /*--- block services ---*/

.block-services{
    padding: 48px 15px !important;
    .icon-service{
        .icon{
            width: 45px;
            float: $left;
            i{
                font-size: 36px; font-weight: bold;
            }
        }
        .text{
            margin-#{$left}: 45px;
            h6{ font-size: 16px; color: #222; margin-bottom: 0; text-transform: uppercase; }
            p{  }
        }
    }
}

	.footer-middle{
	    padding-top: 40px;
	  }
	
	.newsletter-footer1{
	    .newsletter{

	      .title-block{  
	        .page-heading{           
	          font-size: 16px; color: #222;  
	          font-weight: 600;
	          text-transform: capitalize;  margin-bottom: 20px; 
	        }
	        .promotext{
	        	line-height: 24px;
	        }
	      }
	      .block_content{ margin: 20px 0;
	        form.signup{
	          display: block;
	          margin: 0;
	          .form-group{
	            position: relative;
	            input.form-control{
	            	border-radius: 40px;
	              height: 40px;
	              line-height: 40px;
	              width: 100%;
	              box-shadow: none;
	              padding: side-values(0 0 0 15px);
	              border: 1px solid #878787;           
	              background-color: #fff;    
	              &::-moz-placeholder {
                      color: #878787;
                        opacity: 1; 
                    }
                    &:-ms-input-placeholder { color: #878787; } 
                    &::-webkit-input-placeholder  { color: #878787; } 
                      &:focus{
                          z-index: 0;
                      }
	            	}
	          }

	          	.subcribe{
	          		position: absolute;
	              	top: 4px;
	              	#{$right}: 4px;
	              	button{       
			            border: 0 none;
			            color: #fff;
			            font-weight: 400;
			            font-size: 14px;
			            height: 32px;
			            line-height: 32px;
			            padding: 0 20px;    
			            text-transform: capitalize;
			            border-radius: 32px;
			            background-color: #222;
			        }
	          	} 
	          	
	        }
	      }
	    }
	}

	.socials{ margin-top: 17px;
        li{
            display: inline-block; margin-#{$right}: 15px;
            a{ font-size: 16px; color: #878787;

            }
        }
    }

    .infos-footer{
    	a img{ margin-bottom: 25px; }
    	.list-icon{
    		li{
    			padding-#{$left}: 32px; margin-bottom: 8px;
    			position: relative;
    			.icon{ font-size: 24px; position: absolute; top: 0; #{$left}: 0; 
    				font-weight: 600;
    				&.pe-7s-map-marker{ top: 14px; }
    			}
    		}
    	}
    }
	/* FOOTER BOTTOM */

	.footer-bottom{
		margin-top: 30px;
	   	padding: 15px 0;
	   	background-color: #f6f6f8;
	    .payment-w{
	    	text-align: $right;
	    }

	 

	}
}


@media (min-width: 1200px) and (max-width: 1649px){

}