
	{% if type_show == 'simple' %}
	<div class="item item-{{ k }}">
		{% if blog.thumb and blog_image %}
			<div class="media-left">
				<a href="{{ blog.link }}" target="{{ item_link_target }}">
					<img data-sizes="auto" src="image/catalog/loading.svg" data-src="{{ blog.thumb }}" alt="{{ blog.title  }}" class="lazyload">
				</a>
			</div>
		{% endif %}
		<div class="media-body">
			{% if display_title %}
				<h4 class="media-heading">
					<a href="{{ blog.link }}" title="{{ blog.title }}" target="{{ item_link_target }}">{{ blog.title_maxlength }}</a>
				</h4>
			{% endif %}
			<div class="media-content">
				{% if display_date_added %}
					<div class="media-date-added"><i class="fa fa-calendar"></i> {{ blog.date_modified|date("F jS, Y")}}</div>					
				{% endif %}
				{% if display_description %}
					<div class="description">
						{{ blog.description|striptags|slice(0, 200) }}
					</div>
				{% endif %}
				
				{% if display_author or display_comment or display_view %}
					<div class="media-subcontent">
						{% if display_author %}
							<span class="media-author">{{ blog.author }}</span>
						{% endif %}
						{% if display_comment %}
							<span class="media-comment"><i class="fa fa-comments"></i>{{ blog.comment_count }} {{ blog.text_comment }}</span>
						{% endif %}
						{% if display_view %}
							<span class="media-view">{{ blog.view_count }} {{ blog.text_view }}</span>
						{% endif %}
					</div>
				{% endif %}
				
				{% if display_readmore %}
					<div class="readmore">
						<a href="{{ blog.link }}" target="{{ item_link_target }}" class="readmore">{{ readmore_text }}</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	{% else %}
		<div class="item">
			<div class="media-left">
			{% if blog_image %}		
				<a class="imag" href="{{ blog.link }}" target="{{ item_link_target }}">
					<img data-sizes="auto" src="image/catalog/loading.svg" data-src="{{ blog.thumb }}" alt="{{ blog.title  }}" class="lazyload">
				</a>
			{% endif %}
			
			</div>
			<div class="media-body">
				<div class="media-content">
					
					{% if display_title %}
						<h4 class="media-heading font-title">
							<a href="{{ blog.link }}" title="{{ blog.title }}" target="{{ item_link_target }}">{{ blog.title_maxlength }}</a>
						</h4>
					{% endif %}

					{% if display_author or display_date_added %}
					<div class="infos">

						{% if display_author %}
							{{ text_by }} <span class="media-author">{{ blog.author|capitalize }}</span>
						{% endif %}
						{% if display_date_added %}
							{{ text_on }} <span class="media-date-added"> {{ blog.date_modified|date("F jS, Y") }}</span>
						{% endif %}
					</div>
					{% endif %}

					{% if display_comment or display_view %}
						<div class="media-subcontent">
							{% if display_comment %}
								<span class="media-comment"><i class="fa fa-comments"></i> {{ blog.comment_count }} {{ blog.text_comment }}</span>
							{% endif %}
							{% if display_view %}
								<span class="media-view">{{ blog.view_count }} {{ blog.text_view }}</span>
							{% endif %}
						</div>
					{% endif %}

					{% if display_description %}
						<div class="description">
							{{ blog.description|striptags|slice(0, 200) }}
						</div>
					{% endif %}
					

					
					{% if display_readmore %}
						<div class="readmore font-title">
							<a href="{{ blog.link }}" target="{{ item_link_target }}" class="readmore"><i class="fa fa-angle-right"></i><span>{{ readmore_text }}</span> </a>
						</div>
					{% endif %}
				</div>
			</div>
    	</div>
	{% endif %}
