 @include breakpoint(md){
    .common-home {
        .container{
            overflow: visible;
        }
    }
    #content .so-page-builder .container{
        padding: 0 15px;
    }
    .container-megamenu ul.megamenu li.menu-layouts .sub-menu .content .item-layouts .col-md-4{
            min-height: 100px !important;
    }
    //SHOW MORE Footer
    footer #collapse-footer{max-height: 100%;
        &:before{display:none;}
    }
    /* ***********************************************************************************************
        BLOCK HEADER  
    *************************************************************************************************/
    .horizontal ul.megamenu > li > .sub-menu{
        max-width: unset;
    }
     /*[] HEADER 1 []*/ 
     #content,
    header{
        ul.megamenu > li{
            &.menu-layouts,
            &.menu-features{
                > .sub-menu{
                    #{$right}: auto;
                }
            }
            &.style-page{
                > .sub-menu{
                    #{$right}: 0 !important;
                }
            }
        }        
        
    }


    /*[] HEADER 1 []*/ 
    header.typeheader-1{
        .menu1 .container-megamenu ul.megamenu li .sub-menu{
            left: 0 !important;
        }

    }

    /*[] HEADER 2 []*/

    header.typeheader-2{
        .menu1 .container-megamenu ul.megamenu li .sub-menu{
            left: 0 !important;
        }
        
    } 
   
    /*[] HEADER 3 []*/
   
    header.typeheader-3{
        
    } 
    /*[] HEADER 6 []*/
    .typeheader-6.navbar-compact,
    .typeheader-6{
        .container-megamenu.horizontal ul.megamenu{
            text-align: center; padding-bottom: 10px; padding-top: 0;
            > li{
                float: none; display: inline-block; 
                ul li{
                    text-align: $left;
                }
            }
        }
        .lang-curr{ padding-top: 9px; }
        .shopping_cart .dropdown-menu{
            #{$right}: 0;
            #{$left}: auto;
        }
        .logo{ padding: 16px 0; }
        .container-megamenu ul.megamenu{
            position: relative; margin: 0 40px;
            > li.item-style1{
                position: static !important;
                .sub-menu{
                    left: 0 !important;
                }
            } 
        } 
    } 

    /*[] HEADER 7 []*/
    .typeheader-7.navbar-compact,
    .typeheader-7{
        .container-megamenu.horizontal ul.megamenu{
            text-align: center; padding-bottom: 10px; padding-top: 0;
            > li{
                float: none; display: inline-block;
                ul li{
                    text-align: $left;
                }
            }
        }
        .lang-curr{ padding-top: 9px; }
        .shopping_cart .dropdown-menu{
            #{$right}: 0;
            #{$left}: auto;
        }
        .logo{ padding: 16px 0; }
        .container-megamenu ul.megamenu{
            position: relative; margin: 0 40px;
            > li.item-style1{
                position: static !important;
                .sub-menu{
                    left: 0 !important;
                }
            } 
        } 
    } 

    /************************************************************************************************
        BLOCK HOME PAGE  
    *************************************************************************************************/
    #content #so-groups{
        display: none;
    }
    /*[] LAYOUT 1 []*/
   
    .common-home.layout-1{
        #content .sohomepage-slider .inner-text h2.big-text{
            font-size: 40px;
        }
        #content .sohomepage-slider .owl2-item .sohomeslider-description .inner-text.txt-left{
            left: 55%;
        }
    }
    

    /*[] LAYOUT 2 []*/
 
    .layout-2{
        #content .sohomepage-slider .inner-text h2.big-text{
            font-size: 40px;
        }
        #content .sohomepage-slider .owl2-item .sohomeslider-description .inner-text.txt-left{
            left: 55%;
        }
        .block-services .icon-service .text h6{
            font-size: 15px;
        }
    } 

    /*[] LAYOUT 3 []*/
   
    .common-home.layout-3{
        #content .sohomepage-slider .inner-text h2.big-text{
            font-size: 40px;
        }
        #content .sohomepage-slider .owl2-item .sohomeslider-description .inner-text.txt-left{
            left: 55%;
        }

        .banners-cates .lnk{
            font-size: 20px;
            padding: 15px 0;
            min-width: 200px;
        }
    }

    /*[] LAYOUT 4 []*/
    .common-home.layout-4{
        #content .sohomepage-slider .inner-text h2.big-text{
            font-size: 40px;
        }
        #content .sohomepage-slider .owl2-item .sohomeslider-description .inner-text.txt-left{
            left: 55%;
        }

        .block-services .icon-service .text h6{
            font-size: 15px;
        }
    }

    /*[] LAYOUT 5 []*/
    .common-home.layout-5{
        .extra-layout3{
            margin: 30px 77px 20px 77px;
        }
    }

    /*[] LAYOUT 6 []*/
    .common-home.layout-6{
        #content .sohomepage-slider .inner-text h2.big-text{
            font-size: 40px;
        }
        #content .sohomepage-slider .owl2-item .sohomeslider-description .inner-text.txt-left{
            left: 55%;
        }

        .block-services .icon-service .text h6{
            font-size: 15px;
        }
    }

    /*[] LAYOUT 7 []*/
    .common-home.layout-7{
        #content .sohomepage-slider .inner-text h2.big-text{
            font-size: 40px;
        }
        #content .sohomepage-slider .owl2-item .sohomeslider-description .inner-text.txt-left{
            left: 55%;
        }

        .block-services .icon-service .text h6{
            font-size: 15px;
        }
    }

    /* ***********************************************************************************************
        BLOCK FOOTER  
    ************************************************************************************************ */


 
    /*[] FOOTER 1 []*/
    footer.typefooter-1{
        .block-services .icon-service .text h6{
            font-size: 15px;
        }
        .newsletter-footer1 .newsletter .block_content form.signup .form-group{
            width: 60%;
        }
    } 
    
    /*[] FOOTER 2 []*/
    footer.typefooter-2{
        
        .newsletter-footer1 .newsletter .block_content form.signup .form-group{
            width: 60%;
        }

    }
    /*[] FOOTER 3 []*/
    footer.typefooter-3{
        .newsletter-footer1 .newsletter .block_content form.signup .form-group{
            width: 60%;
        }
    } 

    /*[] FOOTER 4 []*/
    footer.typefooter-8,
    footer.typefooter-7,
    footer.typefooter-6,
    footer.typefooter-5,
    footer.typefooter-4{
        .newsletter-footer1 .newsletter .block_content form.signup .form-group{
            width: 60%;
        }
    } 

    /************************************************************************************************
        MEGAMENU 
    *************************************************************************************************/
   /*.horizontal ul.megamenu > li > .sub-menu{
        #{$right}: 0;
        #{$left}: auto;
   }*/
   
    /************************************************************************************************
        PAGE LISTING  
    *************************************************************************************************/
    #wrapper{ overflow-x: hidden; }
    .thumb-vertical-outer { padding: 20px 0;}
    .related-products .image, div.so-extraslider.grid .image{ width: 40%;}
    div.products-list.grid .product-layout .product-item-container{
        .left-block .quickview,
        .button-group button{opacity: 1;}
    }
    .producttab .tabsslider .nav-tabs li a{ padding: 10px; }

    .module.so_filter_wrap .modcontent .so-filter-content-opts-container .put-min_max{
        width: 100%;
        margin-bottom: 5px;
    }

    .product-listing .products-list .product-grid .product-item-container .right-block{
        //min-height: 140px;
    }
    .filters-panel .list-view #grid-view-4, 
    .filters-panel .list-view #grid-view-5{
        display: none;
    }
    /************************************************************************************************
        PAGE DETAIL  
    *************************************************************************************************/
    .product-view .content-product-right .box-info-product .cart input{
        padding: 0 15px;
    }
    .content-aside .module h3.modtitle span{
        font-size: 17px;
    }
    .product-view .content-product-right .share .socials-wrap ul li{
        margin-#{$left}: 25px;
    }
    .upsell-sidebar.product-simple .so-extraslider .extraslider-inner .item .item-inner{
        .item-image{
            width: 80px;
        }
        .item-info{
            margin-left: 95px;
            .price .price-old{
                padding: 0;
                font-size: 12px;
            }
        }
    } 
    .upsell-sidebar h3.modtitle{
        padding-#{$left}: 5px;
    }
    .upsell-sidebar .so-extraslider .owl2-controls .owl2-nav{
        #{$right}: 5px;
    }

    
    /*==============*/
    .so-onepagecheckout{
        .coupon-voucher .panel-body{
            width: 100%;
        }
        .coupon-voucher .input-group{
            margin-bottom: 10px;
            .input-group-btn{
                margin-#{$left}: 10px;
                width: auto;
            }
        }
        .table-responsive .btn-danger{
            margin-top: 0;
        }

        .checkout-cart td.quantity .input-group input{
            float: none;
            margin: 0 auto 5px;
        }
    } 
    .so-onepagecheckout .checkout-cart .input-group-btn{
        min-width: 50px;
        margin-top: 5px;
    }

    .blog-listitem.list .blog-item{
        width: 100%;
    }

    .hidden-scorll{
        overflow: auto;
    }

    .blog-listitem .blog-item .blog-item-inner .blog-content h4{
        min-height: 48px;
    }

    .list-view .btn-gridview{
        display: none;
    }
}

