@include breakpoint(sm){

    .common-home {
        .container{
            overflow: visible;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .container, .container-fluid .container{
        padding: 0 15px;
    }

    /************************************************************************************************
        SHOW MORE CONTENT
    *************************************************************************************************/
    
    .description-toggle{ display: block !important;
        text-align: center; background-color: transparent;
        margin: 10px; 
        a{background-color: transparent; text-transform: uppercase; font-weight: 400; color: #666;
          &:hover, &:focus, &:active{color:$linkColor; background-color:transparent; box-shadow:none;}
          &.active {
            .toggle-less{display: block;}
            .toggle-more{display: none;}
          }
          .toggle-less{display: none;}
          .toggle-more{display: block;}
        }
      }
    .description-has-toggle{ position: relative; overflow: hidden;
        &.in{
          max-height: none;
          overflow: visible;
          display: block !important;
          &:before{display:none;}      
        }
        &:before{
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: 0;
          z-index: 1;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(255,255,255,0)), to(#fff));
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 50%, #fff 100%);
          background: linear-gradient(to bottom, rgba(255,255,255,0) 50%, #fff 100%);
        }
    }
    .footer-main{
        min-height: 200px;
        max-height: 200px;
        display: block;
    }

	/************************************************************************************************
        BLOCK HEADER  
    ************************************************************************************************ */
    /*=== MENU ===*/
    #content,
    header{
        ul.megamenu li.active .sub-menu .content{
            padding-bottom: 10px;
        }
        .container-megamenu.vertical{
            .vertical-wrapper{
                ul.megamenu{
                    > li{
                        border-bottom: none;
                        &:hover{
                            background-color: transparent;
                        }
                        &.loadmore{
                            border-radius: 0;
                            padding: 5px 0;
                            border-top: 1px solid rgba(255, 255, 255, 0.1);
                            i{
                                color: #666666;
                                top: 11px;
                                #{$right}: 0;
                                padding: side-values(0 10px 0 5px);
                            }
                            .more-view{
                                color: #ddd; font-size: 13px;
                            }
                        }
                    }
                }
            }
        }  
        .container-megamenu.horizontal ul.megamenu > li{
            margin: 0;
        }    
        
    }
    .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li .main-menu{
        margin: 0;
    }
    .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu ul li{
        padding: 0;
    }
    .container-megamenu.horizontal .sub-menu .content-feature{
        margin: 0 -5%;
        li{
            width: 40%;
            margin: 0 5%;
            margin-bottom: 10px;
            span{
                line-height: 20px;
                margin: 10px 0;
            }          
            &.detail{
                margin-top: 0;
            }
        }
    } 
    .container-megamenu.horizontal .sub-menu .feature-blog{
        .col-sm-12{
            width: 50%;
            margin-top: 0 !important;
            margin-bottom: 15px;
            float: $left;
        }
    }

    .responsive ul.megamenu .item-style1 .sub-menu .content .row > div{
        border: none;
    }

    .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.style1 .categories{
        padding: 0px;
    }
    .megamenu-style-dev.responsive ul.megamenu .sub-menu .content .row > div{
        border: none;
        padding-top: 0;
    }
    .megamenu-style-dev.responsive ul.megamenu > li.menu-layouts .sub-menu .item-layouts .col-md-4{
        margin-bottom: 0 !important;
    }

    /*============*/
    header{
        .container-megamenu.horizontal ul.megamenu .item-style1 .sub-menu .content .categories{
            padding: 0;
        }
        .container-megamenu.horizontal ul.megamenu .item-style1 .sub-menu .content .static-menu > .menu{
            padding: 0;
        }
        .container-megamenu.horizontal ul.megamenu .item-style2 .sub-menu .content .product{
            padding: 0;
        }

        .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.style1 .categories .static-menu .menu > ul > li{
            margin-bottom: 0;
        }
        .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu ul{
            margin: 10px -15px;
        }

        .responsive ul.megamenu .sub-menu .content .row > div{
            margin-top: 0;
            .link img{
                margin-bottom: 10px;
            }
        }
        .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu ul li ul{
            padding: 0;
        }
        .megamenu-style-dev .vertical ul.megamenu > li > a{
            font-size: 13px;
        }
    } 

    /*=== MENU ===*/
    

    /*[] HEADER 1 []*/ 
    header.typeheader-1{
     
        .menu1 .container-megamenu.horizontal ul.megamenu{
            float: none;
        }
        .menu1 .megamenu-style-dev .navbar-default .horizontal .navbar-header{
            float: left;
        }
        .megamenu-style-dev .navbar-default .horizontal .navbar-header{
            margin-top: 13px; 
            float: right;
        }
        .container-megamenu.horizontal ul.megamenu > li{
            margin: 0;
        } 
        .menu2 .megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar{

            &:nth-child(2){
                width: 27px;
            }
            &:nth-child(3){
                width: 23px;
            }
        }
    }

    /*[] HEADER 2 []*/
  
    header.typeheader-2{
   
        .menu1 .container-megamenu.horizontal ul.megamenu{
            float: none;
        }
        .menu1 .megamenu-style-dev .navbar-default .horizontal .navbar-header{
            float: left;
        }
        .megamenu-style-dev .navbar-default .horizontal .navbar-header{
            margin-top: 13px;
            float: right;
        }
        .container-megamenu.horizontal ul.megamenu > li{
            margin: 0;
        } 
        .menu2 .megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar{

            &:nth-child(2){
                width: 27px;
            }
            &:nth-child(3){
                width: 23px;
            }
        }

    }
    
    /*[] HEADER 3 []*/
    header.typeheader-3{
        .megamenu-style-dev .navbar-default .horizontal .navbar-header{
            position: relative; z-index: 999;
            #{$right}: -60px; top: 12px;
        }
        .container-megamenu.horizontal ul.megamenu > li{
            display: inherit;
            width: 100%;
            text-align: $left;
        }
    }

    /*[] HEADER 4 []*/
    header.typeheader-4{
        .megamenu-style-dev .navbar-default .horizontal .navbar-header{
            position: relative; z-index: 999;
            #{$right}: -60px; top: 12px;
        }
        .container-megamenu.horizontal ul.megamenu > li{
            display: inherit;
            width: 100%;
            text-align: $left;
        }
    }

    /*[] HEADER 5 []*/
    header.typeheader-5{
        .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle .icon-bar{
            margin-top: 5px;
            background: #222; width: 18px;
            &:nth-child(2){
                width: 28px;
            }
            &:nth-child(3){
                width: 23px;
            }
        }
    }

    /*[] HEADER 6 []*/
    .typeheader-6.navbar-compact,
    .typeheader-6{
        .megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar{
            background-color: #878787;
        }
        .megamenu-style-dev .navbar-default .horizontal .navbar-header{
            float: $left; height: 0;
        }
        .header-top-left{
            padding-#{$left}: 50px;
        }
        .megamenu-style-dev .navbar-default .horizontal .navbar-toggle{
            position: relative;
            top: -62px; #{$left}: 15px;
        }
        .lang-curr{ padding-top: 11px; }
        .dropdown-menu ,
        .shopping_cart .dropdown-menu{
            #{$right}: -30px;
            #{$left}: auto;
        }
         .search-header-w #sosearchpro .search{
            #{$left}: -72px;
         }
        .logo{
            padding: 18px 0;
        }
        .container-megamenu.horizontal ul.megamenu{
            padding-#{$left}: 0;
        }
    }
    /*[] HEADER 7 []*/
    .typeheader-7.navbar-compact,
    .typeheader-7{
        .megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar{
            
        }
        .megamenu-style-dev .navbar-default .horizontal .navbar-header{
            float: $left; height: 0;
        }
        .header-top-left{
            padding-#{$left}: 50px;
        }
        .megamenu-style-dev .navbar-default .horizontal .navbar-toggle{
            position: relative;
            top: -62px; #{$left}: 15px;
        }
        .lang-curr{ padding-top: 11px; }
        .dropdown-menu ,
        .shopping_cart .dropdown-menu{
            #{$right}: -30px;
            #{$left}: auto;
        }
        .search-header-w #sosearchpro .search{
            #{$left}: -72px;
        }
        .logo{
            padding: 18px 0;
        }
        .container-megamenu.horizontal ul.megamenu{
            padding-#{$left}: 0;
        }
    }

    /*[] HEADER 8 []*/
    header.typeheader-8{
        .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle .icon-bar{
            margin-top: 5px;
            background: #222; width: 18px;
            &:nth-child(2){
                width: 28px;
            }
            &:nth-child(3){
                width: 23px;
            }
        }
    }


    /* **********************************************************************************************
        BLOCK HOME PAGE
    *************************************************************************************************/
    #content{
        .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-arrow, 
        .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-selected{
            float: $left;
            border-radius: 0 !important;
        }
        .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-selected{
            text-align: $left;
            @include if-rtl {
                border-right:1px solid #ddd;
            }
        }
        .so-listing-tabs .ltabs-wrap .ltabs-tabs-container .ltabs-tabs-wrap ul.ltabs-tabs li.ltabs-tab{
            text-align: $left;
            > span{ text-transform: capitalize; }
            &:hover > span,
            &.tab-sel > span{
                color: #222;
            }
        }
    }
    


    /*[] LAYOUT 1 []*/

    .common-home.layout-1{        
        #content .sohomepage-slider .inner-text{
            h2.big-text{
                font-size: 30px;
            }
            p{
                display: none;
            }
        } 
        .banners-cate .lnk{
            min-width: 140px;
        }
        .banners-cate .bn4{
            margin-top: 25px;
        }
    }

    /*[] LAYOUT 2 []*/
    .common-home.layout-2{
        #content .sohomepage-slider .inner-text{
            h2.big-text{
                font-size: 30px;
            }
            p{
                display: none;
            }
        } 
        .banners-cates .lnk{
            min-width: 140px;
        }
        .so-extraslider .owl2-nav .owl2-prev.owl2-prev, 
        .so-extraslider .owl2-nav .owl2-next.owl2-prev{
            #{$left}: -10px;
        }
        .so-extraslider .owl2-nav .owl2-prev.owl2-next, 
        .so-extraslider .owl2-nav .owl2-next.owl2-next{
            #{$right}: -10px;
        }
        .banners2{ display: none; }

        .listingtab-layout2 .so-listing-tabs .ltabs-tabs-container ul.ltabs-tabs{
            padding: 5px 0;
            li{
                width: 100%;
                > span{
                    border: none;
                }
            } 
        } 
        .block-services .icon-service .text h6{
            font-size: 15px;
        }
        
        .col-margin{
            margin-top: 15px;
        }

       
    }

    /*[] LAYOUT 3 []*/

    .common-home.layout-3{
        #content .sohomepage-slider .inner-text{
            h2.big-text{
                font-size: 30px;
            }
            p{
                display: none;
            }
        } 
        .banners-cates .lnk{
            font-size: 18px;
            padding: 15px 0;
            min-width: 200px;
        }
        .banners-cates .txt-center{
            bottom: 25px;
        }
        .banners-cates .bn3 .inner1 .img{
            margin-bottom: 11px;
        }
        .banners2{ display: none; }
    }

    /*[] LAYOUT 4 []*/

    .common-home.layout-4{
        #content .sohomepage-slider .inner-text{
            h2.big-text{
                font-size: 30px;
            }
            p{
                display: none;
            }
        } 
        .banners2{ display: none; }

        .banners-cates .bn{ margin-top: 10px; }
        .banners-cates{ margin-bottom: 40px; }
        .block-services .icon-service .text h6{
            font-size: 15px;
        }

        .extra-layout2{
            margin-top: 40px; margin-bottom: 0;
        }
        .listingtab-layout2 .so-listing-tabs .ltabs-tabs-container ul.ltabs-tabs{
            padding: 5px 0;
            li{
                width: 100%;
                > span{
                    border: none;
                }
            } 
        } 
        
    }

    /*[] LAYOUT 5 []*/

    .common-home.layout-5{
        #content .sohomepage-slider .inner-text{
            h2.big-text{
                font-size: 30px;
            }
            p{
                display: none;
            }
        } 
       
        .banners3{ display: none; }

        .extra-layout3{
            margin: 30px 40px 20px 40px;
        }

        .listingtab-layout2 .so-listing-tabs .ltabs-tabs-container ul.ltabs-tabs{
            padding: 5px 0;
            li{
                width: 100%;
                > span{
                    border: none;
                }
            } 
        } 

        .row-padd{
            padding: 30px 25px;
        }

    }

    /*[] LAYOUT 6 []*/

    .common-home.layout-6{        
        #content .sohomepage-slider .inner-text{
            h2.big-text{
                font-size: 30px;
            }
            p{
                display: none;
            }
        } 
        .banners-cate .lnk{
            min-width: 140px;
        }
        .banners-cate .bn4{
            margin-top: 25px;
        }
        .banners2{ display: none; }

        .so-extraslider .owl2-nav .owl2-prev.owl2-prev, 
        .so-extraslider .owl2-nav .owl2-next.owl2-prev{
            #{$left}: 0px;
        }
        .so-extraslider .owl2-nav .owl2-prev.owl2-next, 
        .so-extraslider .owl2-nav .owl2-next.owl2-next{
            #{$right}: 0px;
        }
        .block-services .icon-service .text h6{
            font-size: 15px;
        }
        
        .col-margin{
            margin-top: 15px;
        }
        .listingtab-layout2 .so-listing-tabs .ltabs-tabs-container ul.ltabs-tabs{
            padding: 5px 0;
            li{
                width: 100%;
                > span{
                    border: none;
                }
            } 
        } 
    }

    /*[] LAYOUT 7 []*/

    .common-home.layout-7{        
        #content .sohomepage-slider .inner-text{
            h2.big-text{
                font-size: 30px;
            }
            p{
                display: none;
            }
        } 
       
        .block-services .icon-service .text h6{
            font-size: 15px;
        }
        
        .col-margin{
            margin-top: 15px;
        }
    
    }

    /*[] LAYOUT 8 []*/

    .common-home.layout-8{
        #content .sohomepage-slider .inner-text{
            h2.big-text{
                font-size: 30px;
            }
            p{
                display: none;
            }
        } 
       
        .banners-cates .bn{ margin-top: 10px; }

        .banners2{ display: none; }
        .listingtab-layout2 .so-listing-tabs .ltabs-tabs-container ul.ltabs-tabs{
            padding: 5px 0;
            li{
                width: 100%;
                > span{
                    border: none;
                }
            } 
        } 
        .col-margin{
            margin-top: 15px;
        }
    }

    /* ***********************************************************************************************
        BLOCK FOOTER  
    *************************************************************************************************/

    /*[] FOOTER DEFAULT []*/
    footer{
    }

    /*[] FOOTER 1 []*/
    footer.typefooter-1{
        .block-services .icon-service .text h6{
            font-size: 15px;
        }
        .newsletter-footer1 .newsletter .block_content form.signup .form-group{
            width: 60%;
        }
        .footer-bottom{ text-align: center;
            .payment-w{ 
                text-align: center;
            }
        } 
        .col-margin{
            margin-top: 15px;
        }
        
    }


    /*[] FOOTER 2 []*/
    footer.typefooter-2{
        .newsletter-footer1 .newsletter .block_content form.signup .form-group{
            width: 60%;
        }
        .footer-bottom{ text-align: center;
            .payment-w{ 
                text-align: center;
            }
        } 
    }

    /*[] FOOTER 3 []*/
    footer.typefooter-8,
    footer.typefooter-7,
    footer.typefooter-6,
    footer.typefooter-3{
        .newsletter-footer1 .newsletter .block_content form.signup .form-group{
            width: 60%;
        }
        .footer-bottom{ text-align: center;
            .payment-w{ 
                text-align: center;
            }
        } 
    } 

    /*[] FOOTER 4 []*/
    footer.typefooter-5,
     footer.typefooter-4{
        .block-services .icon-service .text h6{
            font-size: 15px;
        }
        .newsletter-footer1 .newsletter .block_content form.signup .form-group{
            width: 60%;
        }
        .footer-bottom{ text-align: center;
            .payment-w{ 
                text-align: center;
            }
        } 
        .col-margin{
            margin-top: 15px;
        }
        
    }


    /************************************************************************************************
        PAGE LISTING  
    ************************************************************************************************ */
    .module.so_filter_wrap .modcontent .so-filter-content-opts-container .put-min_max{
        width: 100%;
        margin-bottom: 5px;
    }
    .module.so_filter_wrap .modcontent .so-filter-option.so-filter-price .content_min_max .input_max, 
    .module.so_filter_wrap .modcontent .so-filter-option.so-filter-price .content_min_max .input_min{
        width: 60px;
        min-width: 60px;
        padding-#{$left}: 3px !important;
    }
    .filters-panel .short-by-show.text-center .form-group{
        display: block;
    }
    aside.left_column{
        margin-bottom: 30px;
    }
    .thumb-vertical-outer { padding: 20px 0;}
  
    .so-filter-price .put-min_max{
        .name-curent{ display: inline-block; float: $left; line-height: 30px; }
        .form-control{ width: 60px; line-height: 30px; padding: 0!important; margin: 0!important; height: 30px; min-width: 60px; }
    }
    .product-listing .products-list .product-grid .product-item-container .right-block{
        //min-height: 140px;
    }

    /************************************************************************************************
        PAGE DETAIL 
    ************************************************************************************************ */
    
    #product-quick .product-view .content-product-right{
        margin-top: 0px;
    }

    .product-view .content-product-right{
        margin-top: 40px;
    }
  
    
    .product-simple .so-extraslider .extraslider-inner .item .item-inner{
        width: 100%;
    }
    .content-aside .product-simple .so-extraslider .extraslider-inner .owl2-item{
        .item{
            display: inline-block;
            .item-inner{
                width: 100%;
            }
        } 
    }

    /************************************************************************************************
        DEFTAULT MENU  
    ************************************************************************************************ */
    .container-megamenu.vertical .vertical-wrapper ul.megamenu{
        border: none !important;
    }
    .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical .sub-menu .content{
        padding: 10px !important;
    }
    /*MEGA MENU*/
    .megamenu-style-dev{
        .container-megamenu.horizontal ul.megamenu > li > a strong img,
        .container-megamenu.vertical:after{ display: none; }
        .navbar-default .vertical #menuHeading{ display: none!important; }
        &.responsive {
            ul.megamenu > li.active .close-menu{
                #{$right}: 0;
                #{$left}: auto;
            }
            #remove-megamenu{ display: block; color: #fff; cursor: pointer; font-size: 15px; }
            .so-megamenu-active #remove-megamenu{ color: #fff; }
            .megamenu-wrapper{ border: none; border-radius: 0; }
            div[class^=col-]{  width: 100%; }
            ul.megamenu > li{
                display: block;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                padding: 1px 0;
                overflow: hidden;
                &:last-child{
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                }
                a{ line-height: 25px; }
            }
            ul.megamenu > li.click,
            ul.megamenu > li.hover{
                &:before{
                    padding: 0 !important;
                    font-size: 14px;
                    background: #666;
                    color: #fff;
                    border: 1px solid #6a6d71;
                    width: 30px;
                    line-height: 30px;
                    height: 32px;
                    display: inline-block;
                    text-align: center;
                    margin-top: -1px;
                    #{$right}: 0;
                    #{$left}: auto;

                }
                &:hover{
                    &:before{
                        cursor: pointer;
                    }
                }
            }
     
            ul.megamenu > li.active {
                padding: 0;
                .sub-menu{ display: block!important; }
                > a{ background: #222 !important;color: #fff;}
                .close-menu{
                   padding: 0;width: 30px;line-height: 30px;background: #33363a;height: auto;
                    &:before{
                        color: #fff;
                        font-size: 12px;
                        line-height: 18px;;
                    }
                }
            }

           .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content{box-shadow: none;border: 1px solid #eee; padding: 20px;}
        }

        .navbar-default .horizontal{
            .navbar-header{
                float: $right;
            }
            .navbar-toggle{
                margin: 0px;
                height: 40px;
                //width: 42px;
                color: #222;
                border-radius: 4px;                           
                background-color: transparent;
                border: none;
                float: $right;
                cursor: pointer;
                padding: 0px;
                .icon-bar{
                    background: #222;
                    width: 20px;
                    height: 2px;
                    margin: 4px 0;
                    border-radius: 0;
                }
            }
            .megamenu-wrapper{
                max-height: 100% !important; 
                background: #333!important;
                padding: 20px!important;
                 ul.megamenu > li{
                        &.active > a{ padding: 0 10px !important; }
                        > a{
                        color: #fff!important;
                        padding:  0!important;
                        font-size: 14px;
                        line-height: 29px !important;
                        &:hover{ color: $linkColor; }
                    }
                }
                ul.megamenu li .sub-menu .content .title-submenu{padding: 0; border: none;}
            }
            .features-menu{
                .column{
                    &.layout-color a{display: inline-block;}
                    a{margin: 0 0 30px;display: block}
                }
            }
        }

        // BUTTON VERTICAL
        .navbar-default{
            .vertical {
                #menuHeading{
                    display: block;
                    margin: 0;
                }
                ul.megamenu{ position: relative; background: transparent;
                    > li{ background: transparent; }
                }
                .navbar-header{
                    position: relative;
                    top: 20px;
                    .title-navbar{ 
                        display: none;                   
                    }

                    .navbar-toggle{
                        font-size: 14px;
                        color: #222;
                        text-transform: uppercase;
                        font-weight: 500;
                        margin: 0;
                        padding: 0;
                        border: none;
                        background-color: transparent !important;
                        i{
                            font-size: 14px;
                        }
                        .icon-bar{
                            background: #222;
                            width: 12px;
                            height: 2px;
                            margin-top: 2px;
                            border-radius: 0;
                        }
                        &:hover{
                            
                        }
                    }
                }
                #remove-verticalmenu{ display: block; color: #fff; cursor: pointer; font-size: 16px; }
                .vertical-wrapper{
                    position: fixed;
                    background: #333!important;
                    padding: 20px!important;
                    width: 280px;
                    max-height: 100%;
                    top: 0;
                    z-index: 99;
                    border: none;
                    &.so-vertical-active{ display: block!important; opacity: 1; visibility: visible;}

                    ul.megamenu{
                        .item-vertical.vertical-style3 .content .image-position{
                            transform: scale(0.8);
                            -moz-transform: scale(0.8);
                            -webkit-transform: scale(0.8);
                            -ms-transform: scale(0.8);
                            position: relative;
                        }
                        .item-vertical.css-menu .sub-menu .content .categories .menu > ul li{
                            &:before{
                                display: none;
                            }
                            .main-menu{text-transform: uppercase;margin: 0 0 10px;}
                            a:hover{color: $linkColor;}
                            &:hover{ >a{color: $linkColor;}}
                            ul{
                                box-shadow: none;
                                li{
                                    //padding: 5px 0;
                                }
                            }
                        }
                        
                    }
                    ul.megamenu li .sub-menu .content{ 
                        border: none;
                    }
                    ul.megamenu .item-vertical.vertical-style1 .content{ padding: 15px; }
                    ul.megamenu .item-vertical.css-menu .content .menu > ul > li ul{ border: none; }
                    ul.megamenu .item-vertical.css-menu .content .menu > ul > li b{ display: none; }
                    ul.megamenu > li{
                        border-top: 1px solid rgba(255, 255, 255, 0.1);
                        padding: 0;
                        > a {     
                            padding: 2px 0;
                            background: transparent !important;
                            strong{ color: #ddd; }
                        }
                        &.loadmore{ border: none; }
                        a{ line-height: inherit; }
                        &.hover{
                            &:before{
                                font-size: 14px;
                                color: #ddd;
                                height: 32px;
                                line-height: 32px;
                                width: 30px;
                                background: #666;
                                text-align: center;
                                cursor: pointer;
                                border: 1px solid #6a6d71;
                                padding: 0 !important;
                            }
                            &:hover{
                                &:before{
                                    color: #fff;
                                }
                                
                            }
                        }
                        &.active {
                            background: none;
                            .close-menu{
                                background: #666;
                                font-size: 14px;
                                &:before{color: #ddd; line-height: 31px;}
                            }
                        }
                    }
                }
            }
        }
    }

    /*MENU STIKY*/
    header.navbar-compact{ display: none; }
    header .horizontal ul.megamenu > li > .sub-menu{ border: none; }
    ul.megamenu li.active .sub-menu .content{ padding: 0 10px; }
    //#wrapper{ overflow-x: hidden; }
    iframe{
        #wrapper{ overflow-x: auto; }
    }
    .zoomContainer{ display: none; }
    .container-megamenu.vertical .vertical-wrapper ul.megamenu li .sub-menu{
        @include if-rtl { left: 0; right: inherit!important; }
    }
    .simple_blog-article .product-filter.filters-panel{ display: none; }
    header #sosearchpro .dropdown-menu{ 
       /* #{$right}: 0!important; #{$left}: inherit!important; */
    }
    

    .product-view .content-product-left .large-image.vertical{
        margin: 0 15%;
    }
    /************************************************************************************************
        PAGE BONUS  
    *************************************************************************************************/
    /*.banner-left{
        display: none;
    }*/
    .our-member .respl-item .w-image-box { float: none; overflow: hidden; width: 100%; text-align: center; }
    .our-member .respl-item .info-member { text-align: center; margin: 0; }
    .our-member .respl-item .info-member li { float: none; display: inline-block; }

    .module.so-latest-blog.slider-post-sidebar .so-blog-external .blog-external .media .so-block.media-left{
        margin-#{$right}: 20px;
    }

    .account-wishlist .table-responsive .btn-danger{
        margin-top: 5px;
    }

    .so-onepagecheckout{
        .coupon-voucher .panel-body{
            width: 100%;
        }
        .coupon-voucher .input-group{
            margin-bottom: 10px;
            .input-group-btn{
                margin-#{$left}: 10px;
                width: auto;
            }
        }
        .table-responsive .btn-danger{
            margin-top: 0;
        }
    } 
    .modal-open,
    .hidden-scorll{
        overflow: auto;
    }
    body #so_popup_countdown,
    .modal-backdrop.in,
    .hidden-scorll .modal-backdrop{
        display: none !important;
    }
    .modal-open.hidden-scorll .modal-backdrop{
        display: block !important;
    }

    .article--style4 .article--maincontent{
        margin-top: -50px;
    }

    .product-layout .product-item-container .seller_logo{
        position: absolute !important;
        transform: none !important;
        bottom: 15px;
    }

    .category-featured .ltabs-wrap .ltabs-tabs-container .ltabs-tabs li.ltabs-tab{
        &:after{
            display: none;
        }
        > span{
            font-size: 13px; font-weight: 400; text-transform: capitalize;
        }
    } 
    // shopby full
    #content .filter-horizontal ul{
        width: 100%;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        li{ display: inline-block; float: none; }
    }
    .module.so_filter_wrap .modcontent ul li.so-filter-options .so-filter-content-opts,
    #content .filter-horizontal .so-filter-heading{
        min-width: 150px;
    }
    .so_filter_wrap .modcontent .so-filter-content-opts-container .option-count{
        float: none;
        margin-#{$left}: 5px;
    }
    // blog page
    .blog-category{
        margin-top: 20px;
    }
    .blog-listitem .blog-item .blog-item-inner .blog-content h4{
        min-height: 48px;
    }
    .article--style5 .article--maintitle{
        width: auto;
    }
    .category-featured .ltabs-wrap .ltabs-tabs-container .ltabs-tabs li.ltabs-tab{
        margin: 0 10px;
    }

    .open-sidebar{
        margin-bottom: 15px;
    }
    .so-listing-tabs.category-featured .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs.ltabs-open{
        padding: 15px 10px 10px 10px;
    }
}