@include breakpoint(lg){
	.container{
		width: auto;
		overflow: visible;
		padding-#{$left}: 15px;
		padding-#{$right}: 15px;
	}
	
	
	//SHOW MORE Footer
	footer #collapse-footer{max-height: 100%;
		&:before{display:none;}
	}

	
}
@media (min-width: 1200px) and (max-width: 1649px){
	#content .so-groups-sticky{
		width: 40px;
	}
	
}




