@include breakpoint(xs){
    .product-image-zoom{
        pointer-events: none;
    }
    .common-home {
        .container{
            overflow: visible;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    /************************************************************************************************
        SHOW MORE CONTENT
    *************************************************************************************************/
     .description-toggle{ display: block !important;
        text-align: center; background-color: transparent;
        margin: 10px; 
        a{background-color: transparent; text-transform: uppercase; font-weight: 400; color: #666;
          &:hover, &:focus, &:active{color:$linkColor; background-color:transparent; box-shadow:none;}
          &.active {
            .toggle-less{display: block;}
            .toggle-more{display: none;}
          }
          .toggle-less{display: none;}
          .toggle-more{display: block;}
        }
      }
    .description-has-toggle{ position: relative; overflow: hidden;
        &.in{
          max-height: none;
          overflow: visible;
          display: block !important;
          &:before{display:none;}      
        }
        &:before{
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: 0;
          z-index: 1;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(255,255,255,0)), to(#fff));
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 50%, #fff 100%);
          background: linear-gradient(to bottom, rgba(255,255,255,0) 50%, #fff 100%);
        }
    }
    .footer-main{
        min-height: 200px;
        max-height: 200px;
        display: block;
    }

    
	/************************************************************************************************
        BLOCK HEADER  
    ************************************************************************************************ */
    /*=== MENU ===*/

    #content,
    header{
        ul.megamenu li.active .sub-menu .content{
            padding-bottom: 10px;
        }
        .container-megamenu.vertical{
            .vertical-wrapper{
                ul.megamenu{
                    > li{
                        border-bottom: none;
                        &:hover{
                            background-color: transparent;
                        }
                        &.loadmore{
                            border-radius: 0;
                            padding: 5px 0;
                            border-top: 1px solid rgba(255, 255, 255, 0.1);
                            i{
                                color: #666666;
                                top: 11px;
                                #{$right}: 0;
                                padding: side-values(0 10px 0 5px);
                            }
                            .more-view{
                                color: #ddd;
                            }
                        }
                    }
                }
            }
        }  
        .container-megamenu.horizontal ul.megamenu > li{
            margin: 0;
        }    
        
    }
    .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li .main-menu{
        margin: 0;
    }
    .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu ul li{
        padding: 0;
    }
    .container-megamenu.horizontal .sub-menu .content-feature{
        margin: 0 -5%;
        li{
            width: 40%;
            margin: 0 5%;
            margin-bottom: 10px;
            span{
                line-height: 20px;
                margin: 10px 0;
            }          
            &.detail{
                margin-top: 0;
            }
        }
    } 
    .container-megamenu.horizontal .sub-menu .feature-blog{
        .col-sm-12{
            width: 50%;
            margin-top: 0 !important;
            margin-bottom: 15px;
            float: $left;
        }
    }

    .responsive ul.megamenu .item-style1 .sub-menu .content .row > div{
        border: none;
    }

    .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.style1 .categories{
        padding: 0px;
    }
    .megamenu-style-dev.responsive ul.megamenu .sub-menu .content .row > div{
        border: none;
        padding-top: 0;
    }
    .megamenu-style-dev.responsive ul.megamenu > li.menu-layouts .sub-menu .item-layouts .col-md-4{
        margin-bottom: 0 !important;
    }

    /*============*/
    header{
        .container-megamenu.horizontal ul.megamenu .item-style1 .sub-menu .content .categories{
            padding: 0;
        }
        .container-megamenu.horizontal ul.megamenu .item-style1 .sub-menu .content .static-menu > .menu{
            padding: 0;
        }
        .container-megamenu.horizontal ul.megamenu .item-style2 .sub-menu .content .product{
            padding: 0;
        }

        .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.style1 .categories .static-menu .menu > ul > li{
            margin-bottom: 0;
        }
        .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu ul{
            margin: 10px -15px;
        }

        .responsive ul.megamenu .sub-menu .content .row > div{
            margin-top: 0;
            .link img{
                margin-bottom: 10px;
            }
        }
        .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu ul li ul{
            padding: 0;
        }
        .megamenu-style-dev .vertical ul.megamenu > li > a{
            font-size: 14px;
        }
    } 
    /*=== MENU ===*/

    /*[] HEADER DEFAULT []*/


    /*[] HEADER 1 []*/ 
    header.typeheader-1{ 
        .menu1 .container-megamenu.horizontal ul.megamenu{
            float: none;
        }
        .menu1 .megamenu-style-dev .navbar-default .horizontal .navbar-header{
            float: left;
        }
        .megamenu-style-dev .navbar-default .horizontal .navbar-header{
            margin-top: 13px; margin-right: 5px;
            float: right;
        }
        .menu1, .menu2{
            width: 30%;
        }
        .menu2 .megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar{

            &:nth-child(2){
                width: 27px;
            }
            &:nth-child(3){
                width: 23px;
            }
        }
        .logo{
            width: 40%;
        }
        .row.no-margin{
            margin: 0 -15px;
        }
        .search-header-w #sosearchpro .search{
            #{$right}: -70px;
        }
        .container-megamenu.horizontal ul.megamenu > li{
            margin: 0;
        } 
        ul.top-link{ padding: 11px 0; }
        .bottom-right .inner{
            position: relative;
            top: -124px;
            height: 10px;
        }
    }

    /*[] HEADER 2 []*/

    header.typeheader-2{ 
        .menu1 .container-megamenu.horizontal ul.megamenu{
            float: none;
        }
        .menu1 .megamenu-style-dev .navbar-default .horizontal .navbar-header{
            float: left;
        }
        .megamenu-style-dev .navbar-default .horizontal .navbar-header{
            margin-top: 13px; margin-right: 5px;
            float: right;
        }
        .menu1, .menu2{
            width: 30%;
        }
        .menu2 .megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar{

            &:nth-child(2){
                width: 27px;
            }
            &:nth-child(3){
                width: 23px;
            }
        }
        .logo{
            width: 40%;
        }
        .row.no-margin{
            margin: 0 -15px;
        }
        .search-header-w #sosearchpro .search{
            #{$right}: -70px;
        }
        .container-megamenu.horizontal ul.megamenu > li{
            margin: 0;
        } 
        ul.top-link{ padding: 11px 0; }
        .bottom-right .inner{
            position: relative;
            top: -124px;
            height: 10px;
        }
    }

    /*[] HEADER 3 []*/
  
    header.typeheader-3{
        .logo-w{ padding-#{$right}: 0; }
        .megamenu-style-dev .navbar-default .horizontal .navbar-header{
            position: relative; z-index: 999;
            #{$right}: -30px; top: 12px;
        }
        .container-megamenu.horizontal ul.megamenu > li{
            display: inherit;
            width: 100%;
            text-align: $left;
        }
        .search-header-w #sosearchpro .search{
            #{$right}: -40px;
        }
    }

    /*[] HEADER 4 []*/
  
    header.typeheader-4{
        .logo-w{ padding-#{$right}: 0; }
        .megamenu-style-dev .navbar-default .horizontal .navbar-header{
            position: relative; z-index: 999;
            #{$right}: -30px; top: 12px;
        }
        .container-megamenu.horizontal ul.megamenu > li{
            display: inherit;
            width: 100%;
            text-align: $left;
        }
        .search-header-w #sosearchpro .search{
            #{$right}: -40px;
        }
    }

    /*[] HEADER 5 []*/
    header.typeheader-5{
        .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle .icon-bar{
            margin-top: 5px;
            background: #222; width: 18px;
            &:nth-child(2){
                width: 28px;
            }
            &:nth-child(3){
                width: 23px;
            }
        }
        .megamenu-style-dev .navbar-default .vertical .navbar-header{
            top: 20px;
        }
        .bottom-right{
            padding-#{$left}: 0;
        }
        .search-header-w #sosearchpro .search{
            #{$right}: -72px; #{$left}: auto;
         }
    }

    /*[] HEADER 6 []*/
    .typeheader-6.navbar-compact,
    .typeheader-6{
        .megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar{
            background-color: #878787;
        }
        .megamenu-style-dev .navbar-default .horizontal .navbar-header{
            float: $left; height: 0;
        }
        .header-top-left{
            padding-#{$left}: 50px;
        }
        .megamenu-style-dev .navbar-default .horizontal .navbar-toggle{
            position: relative;
            top: -59px; #{$left}: 15px;
        }
        .lang-curr{ padding-top: 11px; }
        .dropdown-menu ,
        .shopping_cart .dropdown-menu{
            #{$right}: -20px;
            #{$left}: auto;
        }
         .search-header-w #sosearchpro .search{
            #{$right}: -72px; #{$left}: auto;
         }
        .logo{
            padding: 18px 0;
        }
        .container-megamenu.horizontal ul.megamenu{
            padding-#{$left}: 0;
        }

        .header-top-right .inner{
            text-align: $right;
            padding-#{$right}: 15px;
        }
        .logo{ text-align: $right; }
    }

    /*[] HEADER 7 []*/
    .typeheader-7.navbar-compact,
    .typeheader-7{
        .megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar{
            
        }
        .megamenu-style-dev .navbar-default .horizontal .navbar-header{
            float: $left; height: 0;
        }
        .header-top-left{
            padding-#{$left}: 50px;
        }
        .megamenu-style-dev .navbar-default .horizontal .navbar-toggle{
            position: relative;
            top: -59px; #{$left}: 15px;
        }
        .lang-curr{ padding-top: 11px; }
        .dropdown-menu ,
        .shopping_cart .dropdown-menu{
            #{$right}: -20px;
            #{$left}: auto;
        }
         .search-header-w #sosearchpro .search{
            #{$right}: -72px; #{$left}: auto;
         }
        .logo{
            padding: 18px 0;
        }
        .container-megamenu.horizontal ul.megamenu{
            padding-#{$left}: 0;
        }

        .header-top-right .inner{
            text-align: $right;
            padding-#{$right}: 15px;
        }
        .logo{ text-align: $right; }
    }

    /*[] HEADER 8 []*/
    header.typeheader-8{
        .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle .icon-bar{
            margin-top: 5px;
            background: #222; width: 18px;
            &:nth-child(2){
                width: 28px;
            }
            &:nth-child(3){
                width: 23px;
            }
        }
        .megamenu-style-dev .navbar-default .vertical .navbar-header{
            top: 20px;
        }
        .bottom-right{
            padding-#{$left}: 0;
        }
        .search-header-w #sosearchpro .search{
            #{$right}: -72px; #{$left}: auto;
         }
    }

    /* **********************************************************************************************
        BLOCK HOME PAGE
    *************************************************************************************************/
    #content{
        .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-arrow, 
        .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-selected{
            float: $left;
            border-radius: 0 !important;
        }
        .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-selected{
            text-align: $left;
            @include if-rtl {
                border-right:1px solid #ddd;
            }
        }
        .so-listing-tabs .ltabs-wrap .ltabs-tabs-container .ltabs-tabs-wrap ul.ltabs-tabs li.ltabs-tab{
            text-align: $left;
            > span{ text-transform: capitalize; }
            &:hover > span,
            &.tab-sel > span{
                color: #222;
            }
        }
    }
    
    body{
        .so-fb-message{ display: none; }
    }
    /*[] LAYOUT 1 []*/
 
    .common-home.layout-1{
        #content .sohomepage-slider .inner-text{
            h2.big-text{
                font-size: 20px;
            }
            h5,.btn-default,
            p{
                display: none;
            }
        } 
        #content .sohomepage-slider .owl2-item .sohomeslider-description .inner-text.txt-left{
            left: 55%;
        }
        .banners-cate{
            .bn1{ margin-bottom: 30px; }
            .lnk{ min-width: 115px; }
            .bn4{ margin-top: 25px; }
        } 
        .banners2 .bn1{ margin-bottom: 10px; }
        .insta-home .pre_text{
            width: 300px;
        }
    }
    
    /*[] LAYOUT 2 []*/

    .common-home.layout-2{
        #content .sohomepage-slider .inner-text{
            h2.big-text{
                font-size: 20px;
            }
            h5,.btn-default,
            p{
                display: none;
            }
        } 
        #content .sohomepage-slider .owl2-item .sohomeslider-description .inner-text.txt-left{
            left: 55%;
        }
        .banners-cates{
            img{
                width: 100%;
            }
            .bn2{
                margin: 30px 0;
            }
        }
        .insta-home .pre_text{
            width: 300px;
        }
        .so-extraslider .owl2-nav .owl2-prev, 
        .so-extraslider .owl2-nav .owl2-next{
            background-color: transparent;
            &:before{
                color: #222;
            }
            &:hover{
                background-color: transparent;
            }
        }
        .banners1{
            margin-bottom: 30px;
        }

        .listingtab-layout2 .so-listing-tabs .ltabs-tabs-container ul.ltabs-tabs{
            padding: 5px 0;
            li{
                width: 100%;
                > span{
                    border: none;
                }
            } 
        } 
        .block-services .icon-service .text h6{
            font-size: 15px;
        }
        
        .col-margin1{ margin-bottom: 15px; }
        .col-margin{
            margin-top: 15px;
        }

    }

    /*[] LAYOUT 3 []*/

    .common-home.layout-3{
        #content .sohomepage-slider .inner-text{
            h2.big-text{
                font-size: 20px;
            }
            h5,.btn-default,
            p{
                display: none;
            }
        } 
        #content .sohomepage-slider .owl2-item .sohomeslider-description .inner-text.txt-left{
            left: 55%;
        }
        .banners-cates .lnk{
            font-size: 16px;
            padding: 10px 0;
            min-width: 150px;
        }
        .banners-cates .txt-center{
            bottom: 25px;
        }
        .banners-cates .bn3 .inner1 .img{
            margin-bottom: 11px;
        }
        .banners1{
            margin-bottom: 30px;
        }
        .deals-layout .so-deal .extraslider-inner .time-item{
            margin: 0 2px;
        }
        .deals-layout .so-deal .products-list .product-grid .product-item-container .right-block h4 a{
            font-size: 18px;
        }
        .insta-home .pre_text{
            width: 300px;
        }
    }

.product-product,
.layout-3,
.layout-8{
    .pin__icon--add, 
    .pin__type--area{
        display: none;
    }
}

   /*[] LAYOUT 4 []*/

    .common-home.layout-4{
        #content .sohomepage-slider .inner-text{
            h2.big-text{
                font-size: 20px;
            }
            h5,.btn-default,
            p{
                display: none;
            }
        } 
        #content .sohomepage-slider .owl2-item .sohomeslider-description .inner-text.txt-left{
            left: 55%;
        }

        .banners2{ display: none; }

        .banners-cates .bn{ margin-top: 10px; }
        .banners-cates{ margin-bottom: 40px; }
        .block-services .icon-service .text h6{
            font-size: 15px;
        }

        .extra-layout2{
            margin-top: 40px; margin-bottom: 0;
        }
        .listingtab-layout2 .so-listing-tabs .ltabs-tabs-container ul.ltabs-tabs{
            padding: 5px 0;
            li{
                width: 100%;
                > span{
                    border: none;
                }
            } 
        } 
        .banners1{
            margin-bottom: 30px;
        }
        .insta-home .pre_text{
            width: 300px;
        }

    }

    /*[] LAYOUT 5 []*/

    .common-home.layout-5{
        #content .sohomepage-slider .inner-text{
            h2.big-text{
                font-size: 20px;
            }
            h5,.btn-default,
            p{
                display: none;
            }
        } 
        #content .sohomepage-slider .owl2-item .sohomeslider-description .inner-text.txt-left{
            left: 55%;
        }
        .banners1{
            white-space: nowrap;
            overflow-y: hidden;
            overflow-x: scroll;
            .bn{ 
                display: inline-block; float: none;
            }
        }
        .banners3{ display: none; }
        .banners2{
            margin-bottom: 10px;
        }
        .banners-cates .bn{ margin-top: 10px; }
        .banners-cates{ margin-bottom: 40px; }

        .extra-layout3{
            margin: 40px;
        }
        .listingtab-layout2 .so-listing-tabs .ltabs-tabs-container ul.ltabs-tabs{
            padding: 5px 0;
            li{
                width: 100%;
                > span{
                    border: none;
                }
            } 
        } 
        .insta-home .pre_text{
            width: 300px;
        }

    }

     /*[] LAYOUT 6 []*/
 
    .common-home.layout-6{
        #content .sohomepage-slider .inner-text{
            h2.big-text{
                font-size: 20px;
            }
            h5,.btn-default,
            p{
                display: none;
            }
        } 
        #content .sohomepage-slider .owl2-item .sohomeslider-description .inner-text.txt-left{
            left: 55%;
        }
        .banners-cate{
            .bn1{ margin-bottom: 30px; }
            .lnk{ min-width: 115px; }
            .bn4{ margin-top: 25px; }
        } 
        .banners2 { display: none; }
        .insta-home .pre_text{
            width: 300px;
        }
        .so-extraslider .owl2-nav .owl2-prev, 
        .so-extraslider .owl2-nav .owl2-next{
            background-color: transparent;
            &:before{
                color: #222;
            }
            &:hover{
                background-color: transparent;
            }
        }
        .banners1{
            margin-bottom: 30px;
        }

        .listingtab-layout2 .so-listing-tabs .ltabs-tabs-container ul.ltabs-tabs{
            padding: 5px 0;
            li{
                width: 100%;
                > span{
                    border: none;
                }
            } 
        } 
        .block-services .icon-service .text h6{
            font-size: 15px;
        }
        
        .col-margin1{ margin-bottom: 15px; }
        .col-margin{
            margin-top: 15px;
        }
    }

    /*[] LAYOUT 7 []*/
 
    .common-home.layout-7{
        #content .sohomepage-slider .inner-text{
            h2.big-text{
                font-size: 20px;
            }
            h5,.btn-default,
            p{
                display: none;
            }
        } 
        #content .sohomepage-slider .owl2-item .sohomeslider-description .inner-text.txt-left{
            left: 55%;
        }
    
        .block-services .icon-service .text h6{
            font-size: 15px;
        }
        
        .col-margin1{ margin-bottom: 15px; }
        .col-margin{
            margin-top: 15px;
        }

        .banners1{
            white-space: nowrap;
            overflow-y: hidden;
            overflow-x: scroll;
            .bn{ 
                display: inline-block; float: none;
            }
        }
    }

    /*[] LAYOUT 8 []*/
 
    .common-home.layout-8{
        #content .sohomepage-slider .inner-text{
            h2.big-text{
                font-size: 20px;
            }
            h5,.btn-default,
            p{
                display: none;
            }
        } 
        #content .sohomepage-slider .owl2-item .sohomeslider-description .inner-text.txt-left{
            left: 55%;
        }
        .banners-cates .bn{ margin-top: 10px; }

        .banners2{ display: none; }
        .listingtab-layout2 .so-listing-tabs .ltabs-tabs-container ul.ltabs-tabs{
            padding: 5px 0;
            li{
                width: 100%;
                > span{
                    border: none;
                }
            } 
        } 
        .insta-home .pre_text{
            width: 300px;
        }
        .banners1{
            margin-bottom: 30px;
        }
        .block-services .icon-service .text h6{
            font-size: 15px;
        }
        
        .col-margin1{ margin-bottom: 15px; }
        .col-margin{
            margin-top: 15px;
        }
    }

    /* ***********************************************************************************************
        BLOCK FOOTER  
    *************************************************************************************************/

    /*[] FOOTER 1 []*/

    footer.typefooter-1{
        .infos-footer,
        .box-footer{
            margin-bottom: 30px;
        }
        .footer-bottom{ text-align: center;
            .payment-w{ 
                text-align: center;
            }
        } 
        .col-margin1{ margin-bottom: 15px; }
        .col-margin{
            margin-top: 15px;
        }
    }


    /*[] FOOTER 2 []*/
    footer.typefooter-2{
        .infos-footer,
        .box-footer{
            margin-bottom: 30px;
        }
        .footer-bottom{ text-align: center;
            .payment-w{ 
                text-align: center;
            }
        } 
    }

    /*[] FOOTER 3 []*/
    footer.typefooter-8,
    footer.typefooter-7,
    footer.typefooter-6,
    footer.typefooter-3{
        .infos-footer,
        .box-footer{
            margin-bottom: 30px;
        }
        .footer-bottom{ text-align: center;
            .payment-w{ 
                text-align: center;
            }
        } 
    }

    /*[] FOOTER 4 []*/
    footer.typefooter-5,
    footer.typefooter-4{
        .infos-footer,
        .box-footer{
            margin-bottom: 30px;
        }
        .footer-bottom{ text-align: center;
            .payment-w{ 
                text-align: center;
            }
        } 
        .col-margin1{ margin-bottom: 15px; }
        .col-margin{
            margin-top: 15px;
        }
    }


    /************************************************************************************************
        PAGE LISTING  
    ************************************************************************************************ */
    .current-name{
        font-size: 20px;
    }

    aside.left_column{
        margin-bottom: 30px;
    }
    .products-category .product-compare{
        margin: 10px 0 0 0 !important;
    }
  
    /************************************************************************************************
        PAGE DETAIL  
    ************************************************************************************************ */
    

    .product-view .content-product-right{
        margin-top: 30px;
    }
   

    .product-simple .so-extraslider .extraslider-inner .item .item-inner{
        width: 100%;
    }
    .content-aside .product-simple .so-extraslider .extraslider-inner .owl2-item{

        .item{
            display: inline-block;
            .item-inner{
                width: 100%;
            }
        } 
    }
    .producttab .tabsslider.horizontal-tabs .tab-content{
        padding: 30px 10px;
    }
    .thumb-vertical-outer { padding: 20px 0;}
    .bg-page-404{ overflow: hidden; }
    .style-dev-so-deals .so-deal .extraslider-inner.item-inner-dev .image-dev .list-button-dev li.so-quickview{ display: none; }
    #content .filter-horizontal ul{ display: block; }
    #content .filter-horizontal li.so-filter-options{ width: 100%; border: none; }
    .zoomContainer{ display: none; }
    /************************************************************************************************
        DEFTAULT MENU  
    ************************************************************************************************ */
    .container-megamenu.vertical .vertical-wrapper ul.megamenu{
        border: none !important;
    }
    .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical .sub-menu .content{
        padding: 20px !important;
    }
    /*MEGA MENU*/
    .megamenu-style-dev{
        /*z-index: 999;*/
        .container-megamenu.horizontal ul.megamenu > li > a strong img,
        .container-megamenu.vertical:after{ display: none; }
        .navbar-default .vertical #menuHeading{ display: none!important; }
        &.responsive {
            ul.megamenu > li.active .close-menu{
                #{$right}: 0 !important;
                #{$left}: auto;
            }
            #remove-megamenu{ display: block; color: #fff; cursor: pointer; font-size: 15px;}
            .so-megamenu-active #remove-megamenu{ color: #fff; }
            .megamenu-wrapper{ border: none; border-radius: 0; }
            div[class^=col-]{  width: 100%; }
            ul.megamenu > li{
                display: block;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                padding: 1px 0;
                overflow: hidden;
                &:last-child{
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                }
                a{ line-height: 25px; }
            }
            ul.megamenu > li.click,
            ul.megamenu > li.hover{
                &:before{
                    padding: 0 !important;
                    font-size: 14px;
                    background: #666;
                    color: #fff;
                    border: 1px solid #6a6d71;
                    width: 30px;
                    line-height: 30px;
                    height: 32px;
                    display: inline-block;
                    text-align: center;
                    margin-top: -1px;
                    #{$right}: 0;
                    #{$left}: auto;

                }
                &:hover{
                    &:before{
                        cursor: pointer;
                    }
                }
            }

            ul.megamenu > li.active {
                padding: 0;
                .sub-menu{ display: block!important; }
                > a{ background: #222 !important;color: #fff;}
                .close-menu{
                   padding: 0;width: 30px;line-height: 30px;background: #33363a;height: auto;
                    &:before{
                        color: #fff;
                        font-size: 12px;
                        line-height: 18px;;
                    }
                }
            }

           .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content{box-shadow: none;border: 1px solid #eee; padding: 20px;}
        }

        .navbar-default .horizontal{
            .navbar-header{
                float: $right;
            }
            .navbar-toggle{
                margin: 0px;
                height: 40px;
                //width: 42px;
                color: #fff;
                border-radius: 4px;                           
                background-color: transparent;
                border: none;
                float: $right;
                cursor: pointer;
                padding: 0px;
                .icon-bar{
                    background: #222;
                    width: 20px;
                    height: 2px;
                    margin: 4px 0;
                    border-radius: 0;
                }
            }
            .megamenu-wrapper{
                background: #333!important;
                padding: 20px!important;
                 ul.megamenu > li{
                        &.active > a{ padding: 0 10px !important; }
                        > a{
                            color: #fff!important;
                            padding:  0!important;
                            font-size: 14px;
                            line-height: 29px !important;
                            &:hover{ color: $linkColor; }
                    }
                }
                ul.megamenu li .sub-menu .content .title-submenu{padding: 0;margin: 0;border: none;}
            }
            .features-menu{
                .column{
                    &.layout-color a{display: inline-block;}
                    a{margin: 0 0 30px;display: block}
                }
            }
        }

        // BUTTON VERTICAL
        .navbar-default{
            .vertical {
                #menuHeading{
                    display: block;
                    margin: 0;
                }
                ul.megamenu{ position: relative; background: transparent;
                    > li{ background: transparent; }
                }
                .navbar-header{
                    position: relative;
                    top: 7px;
                    float: $left;
                    .title-navbar{ 
                        display: none;                   
                    }

                    .navbar-toggle{
                        font-size: 14px;
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: 500;
                        margin: 0;
                        padding: 0;
                        border: none;
                        background-color: transparent !important;
                        i{
                            font-size: 14px;
                        }
                        .icon-bar{
                            background: #222;
                            width: 12px;
                            height: 2px;
                            margin-top: 2px;
                            border-radius: 0;
                        }
                        &:hover{
                            color: #fff;
                        }
                    }
                }
                #remove-verticalmenu{ display: block; color: #fff; cursor: pointer; font-size: 16px; }
                .vertical-wrapper{
                    position: fixed;
                    background: #333!important;
                    padding: 20px!important;
                    width: 280px;
                    max-height: 100%;
                    top: 0;
                    z-index: 99;
                    border: none;
                    &.so-vertical-active{ display: block!important; opacity: 1; visibility: visible; }

                    ul.megamenu{
                        .item-vertical.vertical-style3 .content .image-position{
                            transform: scale(0.8);
                            -moz-transform: scale(0.8);
                            -webkit-transform: scale(0.8);
                            -ms-transform: scale(0.8);
                            position: relative;
                        }
                        .item-vertical.css-menu .sub-menu .content .categories .menu > ul li{
                            &:before{
                                display: none;
                            }
                            .main-menu{text-transform: uppercase;margin: 0 0 10px;}
                            a:hover{color: $linkColor;}
                            &:hover{ >a{color: $linkColor;}}
                            ul{
                                box-shadow: none;
                                li{
                                    padding: 5px 0;
                                }
                            }
                        }
                        
                    }
                    ul.megamenu li .sub-menu .content{ 
                        border: none;
                    }
                    ul.megamenu .item-vertical.vertical-style1 .content{ padding: 15px; }
                    ul.megamenu .item-vertical.css-menu .content .menu > ul > li ul{ border: none; }
                    ul.megamenu .item-vertical.css-menu .content .menu > ul > li b{ display: none; }
                    ul.megamenu > li{
                        border-top: 1px solid rgba(255, 255, 255, 0.1);
                        padding: 0;
                        > a {     
                            padding: 2px 0;
                            background: transparent!important;
                            strong{ color: #ddd; }
                        }
                        &.loadmore{ border: none; }
                        a{ line-height: inherit; }
                        &.hover{
                            &:before{
                                font-size: 14px;
                                color: #ddd;
                                height: 32px;
                                line-height: 32px;
                                width: 30px;
                                background: #666;
                                text-align: center;
                                cursor: pointer;
                                border: 1px solid #6a6d71;
                                padding: 0 !important;
                            }
                            &:hover{
                                &:before{
                                    color: #fff;
                                }
                                
                            }
                        }
                        &.active {
                            background: none;
                            .close-menu{
                                background: #666;
                                font-size: 14px;
                                &:before{color: #ddd; line-height: 31px;}
                            }
                        }
                    }
                }
            }
        }
    }

    .module.so-latest-blog.slider-post-sidebar .so-blog-external .blog-external .media .so-block{
        margin-#{$right}: 20px;
    }

    .item-article .title-decimal{
        line-height: 22px;
    }
    /*MENU STIKY*/
    header.navbar-compact{ display: none; }
    header .horizontal ul.megamenu > li > .sub-menu{ border: none; }
    #wrapper{ overflow-x: hidden; }
    ul.megamenu li.active .sub-menu .content{ padding: 0 10px; }
    #sosearchpro.search-pro .input-group .autosearch-input{ padding: side-values(0 40px 0 20px); }
    .navbar-toggle{ margin-#{$left}: 15px; margin-#{$right}: 0;; }
    @include if-rtl {
        .so-latest-blog .owl2-carousel .owl2-stage-outer{ direction: rtl; }
    }
    .simple_blog-article .product-filter{ display: none; }

    #so_popup_countdown {
      display: none !important;
     }
     .modal-backdrop.in {
      opacity: 0;
      filter: alpha(opacity=0);
     }

    .product-search{
        .content-main{
            #input-search{
                margin-bottom: 10px;
            }
        }
    }
    body.modal-open,
    .hidden-scorll{
        overflow: auto;
    }
    body #so_popup_countdown,
    .modal-backdrop{
        display: none !important;
    }

    .media-box-link--figure .icon{
        font-size: 50px;
    }

    .product-compare{
        .table {
            display: inline-block;
            overflow-x: scroll;
        }
    }

    .seller-usergroup .seller_logo{
        width: 100%;
        margin-bottom: 20px;
    }

    // page blog 
    .article--style2 .article--maintitle{
        position: static;
        background: #333;
    }
    .article--style4 .article--maincontent{
        margin-top: 0;
    }
    .article--style5 .article--maintitle{
        position: static;
        transform: none;
    }
    .article--style5 .article--maintitle h3{
        font-size: 13px;
    }
    .article--style5 .article--maintitle .article-title, .article--style5 .article--maintitle .article-sub-title{
        font-size: 12px;
    }


    .category-featured .ltabs-wrap .ltabs-tabs-container .ltabs-tabs li.ltabs-tab{
        &:after{
            display: none;
        }
        > span{
            font-size: 13px; font-weight: 400; text-transform: capitalize;
        }
    } 
    .category-featured .ltabs-wrap .wap-listing-tabs .product-item-container{
        .left-block,
        .right-block{
            width: 100%;
        }
    } 

    .products-list .product-list .product-item-container{
        display: inline-block;
        width: 100%;
        .list-block{ clear: none; padding-#{$left}: 15px; }
        .right-block{
            padding-#{$left}: 15px;
        }
    }
    .products-list .product-layout .product-item-container .product-card__gallery{
        display: none;
    }

    .product-listing{
        padding: 0 15px;
    }
    .category-featured .ltabs-wrap .ltabs-tabs-container .ltabs-tabs li.ltabs-tab{
        margin: 0 10px;
    }


    .products-list .product-list .product-item-container .list-block .addToCart{
        margin-bottom: 10px;
    }
    .filters-panel .list-view button.btn{
        line-height: 28px;
    }
    .open-sidebar{
        margin-bottom: 15px;
    }
    .extension-simple_blog-article .open-sidebar{
        margin-bottom: 30px;
    }
}
