{#
****************************************************** 
 * @package	SO Framework for Opencart 3.x
 * @author	http://www.opencartworks.com
 * @license	GNU General Public License
 * @copyright(C) 2008-2017 opencartworks.com. All rights reserved.
 ******************************************************
#}
<div class="breadcrumbs ">
    <div class="current-name">	
       	<div class="container">  
	    	{% set last = breadcrumbs|length %}
	    	{% set i = 0 %}
	     	{% for breadcrumb, crumbInfo in breadcrumbs %}  
	      		{% set i = i + 1 %}	    
	      		{% if i == last  %} 
	        	{{ crumbInfo.text }}
	       	{% endif %}  
	    	{% endfor %}
	    </div>
	</div>
    <ul class="breadcrumb">
    	<div class="container">
	        {% for breadcrumb in breadcrumbs %}
	        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
	        {% endfor %}
        </div>
    </ul>
    
</div>