{# =========== Show Header==============#}

{% if soconfig.get_settings('typefooter')%}
	{% include theme_directory~'/template/footer/footer'~ soconfig.get_settings('typefooter') ~'.twig' with {typefooter: soconfig.get_settings('typefooter')} %}
{% endif %}

{% include theme_directory~'/template/soconfig/icon-defs.twig' %}

{% if soconfig.get_settings('jsinput_status') and (soconfig.get_settings('jsinput_content')) is not empty %}{{ soconfig.get_settings('jsinput_content')  }} {% endif %} 

<div id="previewModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title"> {{objlang.get('text_alertaddtocart') }}</h4>
		</div>
		<div class="modal-body"></div>
    </div>
  </div>
</div>	
{# =========== Show BackToTop==============#}
{% if soconfig.get_settings('backtop') %}
<div class="back-to-top"><i class="fa fa-angle-up"></i></div>
{% endif %}


{% if soconfig.get_settings('social_sidebar')  %}
	{% if soconfig.get_settings('social_sidebar') == 1 %}
		{% set  social_sidebar = 'socialwidgets-left'%}
	{% else %}
		{% set  social_sidebar = 'socialwidgets-right'%}
	{% endif %}
	<section class="social-widgets visible-lg {{social_sidebar}} ">
		<ul class="items">
			{% if soconfig.get_settings('social_fb_status') %} 
			<li class="item item-01 facebook">
				<a href="catalog/view/theme/{{ theme_directory }}/template/social/facebook.php?account_fb={{soconfig.get_settings('facebook')}} " class="tab-icon"><span class="fa fa-facebook"></span></a>
				<div class="tab-content">
					<div class="title"><h5>FACEBOOK</h5></div>
					<div class="loading">
						<img class="lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="catalog/view/theme/{{ theme_directory }}/images/ajax-loader.gif" class="ajaxloader" alt="loader">
					</div>
				</div>
			</li>
			{% endif %} 

			{% if soconfig.get_settings('social_twitter_status') %} 
			<li class="item  twitter">
				<a href="catalog/view/theme/{{ theme_directory }}/template/social/twitter.php?account_twitter={{ soconfig.get_settings('twitter')}} " class="tab-icon"><span class="fa fa-twitter"></span></a>
				<div class="tab-content">
					<div class="title"><h5>TWITTER FEEDS</h5></div>
					<div class="loading">
						<img class="lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="catalog/view/theme/{{ theme_directory }}/images/ajax-loader.gif" class="ajaxloader" alt="loader">
					</div>
				</div>
			</li>
			{% endif %} 

			{% if soconfig.get_settings('social_custom_status') %} 
			<li class="item  youtube">
				<div class="tab-icon"><span class="fa fa-youtube"></span></div>
				<a href="catalog/view/theme/{{ theme_directory }}/template/social/youtubevideo.php?account_video={{soconfig.get_settings('video_code')}}" class="tab-icon"><span class="fa fa-youtube"></span></a>
				<div class="tab-content">
					<div class="title"><h5>Youtube</h5></div>
					<div class="loading">
						<img class="lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="catalog/view/theme/{{ theme_directory }}/images/ajax-loader.gif" alt="loader">
					</div>
				</div>
			</li>
			{% endif %} 
			
			{% if soconfig.get_settings('social_instagram_status') %} 
			<li class="item  instagram">
				<div class="tab-icon"><span class="fa fa-instagram"></span></div>
				<a href="catalog/view/theme/{{ theme_directory }}/template/social/instagram.php?instagram_user={{soconfig.get_settings('instagram_user')}}&instagram_token={{soconfig.get_settings('instagram_token')}}" class="tab-icon"><span class="fa fa-instagram"></span></a>
				<div class="tab-content">
					<div class="title"><h5>Instagram</h5></div>
					<div class="loading">
						<img class="lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="catalog/view/theme/{{ theme_directory }}/images/ajax-loader.gif" alt="loader">
					</div>
				</div>
			</li>
			{% endif %} 
		</ul>
	</section>
	
{% endif %} 

</div>
</body>
</html>